{% extends 'base.html' %}
{% load static %}
{% block content %}

    {#    h3 on white#}
    <section id="fh5co-home" data-section="home" style="background-image: url({% static 'disorder/images/white.jpg' %});" data-stellar-background-ratio="0.5">
        <div class="gradient"></div>
        <div class="container">
            <div class="text-wrap">
                <div class="text-inner">
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2 text-center">
                            <h3 class="to-animate">
                                ПОМОЩЬ ЗАКЛЮЧАЕТСЯ В ЖЕЛАНИИ ПОНЯТЬ ЧЕЛОВЕКА
                            </h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    {#    h3 on white#}
    <section id="fh5co-home" data-section="home" style="background-image: url({% static 'disorder/images/flagoes.jpg' %});" data-stellar-background-ratio="0.5">
        <div class="gradient"></div>
        <div class="container">
            <div class="text-wrap">
                <div class="text-inner">
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2 text-center">
                            <h3 class="to-animate">
                                ГРУППЫ ПОДДЕРЖКИ
                            </h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    {#    h3 on white#}
    <section id="fh5co-home" data-section="home" style="background-image: url({% static 'disorder/images/pink.jpg' %});" data-stellar-background-ratio="0.5">
        <div class="gradient"></div>
        <div class="container">
            <div class="text-wrap">
                <div class="text-inner">
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2 text-center">
                            <h3 class="to-animate">
                                Изначально анонимные сообщества были созданы на поддержку людей с алкогольной зависимостью.
                            </h3>
                            <h3 class="to-animate">
                                <b>
                                    В 1953 году в США (Калифорния) была проведена первая анонимная группа алкоголиков (АН) на базе сообщества «Анонимные Алкоголики», в России это движение начало зарождаться в 1990 году.
                                </b>
                            </h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    {#    iframe video only#}
    <section id="fh5co-home" data-section="home" data-stellar-background-ratio="0.5">
        <iframe width="100%" height="100%" src="https://www.youtube.com/embed/OQjL5hAUh_M?controls=0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </section>


    {#    h3 on white#}
    <section id="fh5co-home" data-section="home" style="background-image: url({% static 'disorder/images/white.jpg' %});" data-stellar-background-ratio="0.5">
        <div class="gradient"></div>
        <div class="container">
            <div class="text-wrap">
                <div class="text-inner">
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2 text-center">
                            <h3 class="to-animate">
                                Анна Толстая закончила кафедру психологии, знания и собственный опыт помогли девушке реализовать свою идею по созданию группы поддержки для людей, страдающих от депрессии.
                            </h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {#    h3 on white#}
    <section id="fh5co-home" data-section="home" style="background-image: url({% static 'disorder/images/white.jpg' %});" data-stellar-background-ratio="0.5">
        <div class="gradient"></div>
        <div class="container">
            <div class="text-wrap">
                <div class="text-inner">
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2 text-center">
                            <h3 class="to-animate">
                                Депрессия - это психическое расстройство, которое сопровождается пониженным настроением и физическим недомоганием: потеря аппетита, бессонница, боли в суставах.
                            </h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {#    h3 on white#}
    <section id="fh5co-home" data-section="home" style="background-image: url({% static 'disorder/images/white.jpg' %});" data-stellar-background-ratio="0.5">
        <div class="gradient"></div>
        <div class="container">
            <div class="text-wrap">
                <div class="text-inner">
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2 text-center">
                            <h3 class="to-animate">
                                <b>
                                    «Срывы бывают, все мы люди, мне кажется, самое главное – встать и попробовать ещё раз»
                                </b>
                            </h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {#    h3 on white#}
    <section id="fh5co-home" data-section="home" style="background-image: url({% static 'disorder/images/white.jpg' %});" data-stellar-background-ratio="0.5">
        <div class="gradient"></div>
        <div class="container">
            <div class="text-wrap">
                <div class="text-inner">
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2 text-center">
                            <h3 class="to-animate">
                                Депрессия, как симптом, встречается почти в каждом диагнозе, также может стать толчком к проявлению какого-либо ментального расстройства.
                            </h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="fh5co-home" data-section="home" style="background-image: url({% static 'disorder/images/white.jpg' %});" data-stellar-background-ratio="0.5">
        <div class="gradient"></div>
        <div class="container">
            <div class="text-wrap">
                <div class="text-inner">
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2 text-center">
                            <h3 class="to-animate">
                                Сама девушка имеет диагноз пограничное расстройство личности и биполярное расстройство, уже как год принимает медикаментозную терапию.
                            </h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="fh5co-home" data-section="home" style="background-image: url({% static 'disorder/images/white.jpg' %});" data-stellar-background-ratio="0.5">
        <div class="gradient"></div>
        <div class="container">
            <div class="text-wrap">
                <div class="text-inner">
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2 text-center">
                            <audio controls>
                                <source src="{% static 'disorder/audio/groups.mp3' %}">
                            </audio>
                            <h3 class="to-animate">
                                Связаться:
                            </h3>
                            <h3 class="to-animate">
                                <a href="https://vk.com/whatsgoingonspb">vk.com/whatsgoingonspb</a>
                            </h3>
                            <h3 class="to-animate">
                                <a href="https://vk.com/borderlineclub">vk.com/borderlineclub</a>
                            </h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <section id="fh5co-home" data-section="home" style="background-image: url({% static 'disorder/images/canyo.jpg' %});" data-stellar-background-ratio="0.5">
        <div class="gradient"></div>
        <div class="container">
            <div class="text-wrap">
                <div class="text-inner">
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2 text-center">
                            <h3 class="to-animate">
                                депрессия
                            </h3>
                            <audio controls>
                                <source src="{% static 'disorder/audio/depression.mp3' %}">
                            </audio>
                            <h3 class="to-animate">
                                детство
                            </h3>
                            <audio controls>
                                <source src="{% static 'disorder/audio/detstvo.mp3' %}">
                            </audio>
                            <h3 class="to-animate">
                                эмоции человека
                            </h3>
                            <audio controls>
                                <source src="{% static 'disorder/audio/emotions.mp3' %}">
                            </audio>
                            <h3 class="to-animate">
                                психиатрия
                            </h3>
                            <audio controls>
                                <source src="{% static 'disorder/audio/psycho.mp3' %}">
                            </audio>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <section id="fh5co-home" data-section="home">
        <h1>


        </h1>
        <h1 class="to-animate" style="position: absolute; z-index: 2; text-align: center; top:30%" >
            ГОВОРИТЬ О СВОИХ МЕНТАЛЬНЫХ ОСОБЕННОСТЯХ - НЕ СТЫДНО
            СЛУШАТЬ - НЕ СТРАШНО
        </h1>
        <video loop autoplay width="100%" id="flamingo">
            <source src="{% static 'disorder/videos/flamingoes.mp4' %}" type="video/mp4" />
        </video>
    </section>

    <section id="fh5co-home" data-section="home" style="background-image: url({% static 'disorder/images/white.jpg' %});" data-stellar-background-ratio="0.5">
        <div class="gradient"></div>
        <div class="container">
            <div class="text-wrap">
                <div class="text-inner">
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2 text-center">
                            <h1 class="to-animate">
                                <b>
                                ЧЕЛОВЕК – ЭТО НЕ ЕСТЬ ЕГО ДИАГНОЗ
                                ЧЕЛОВЕК – ЭТО ЛИЧНОСТЬ
                                </b>
                            </h1>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <section id="fh5co-home" data-section="home" style="background-image: url({% static 'disorder/images/white.jpg' %});" data-stellar-background-ratio="0.5">
        <div class="gradient"></div>
        <div class="container">
            <div class="text-wrap">
                <div class="text-inner">
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2 text-center">
                            <h2 class="to-animate">
                                «Я в беспорядке» | Проект о человеке
                                © Лейла Аль-Шамири
                                alshamiri.lilya@mail.ru
                                Санкт-Петербург
                                2020
                            </h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}