{% extends 'base.html' %}
{% load static %}
{% block content %}
{#    DIAGNOSIS#}
    <section id="fh5co-home" data-section="home" style="background-image: url({% static 'disorder/images/project-6.jpg' %});" data-stellar-background-ratio="0.5">
        <div class="gradient"></div>
        <div class="container">
            <div class="text-wrap">
                <div class="text-inner">
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2 text-center">
                            <h1 class="to-animate">ПАРАНОИДАЛЬНАЯ ШИЗОФРЕНИЯ</h1>
                            <h2 class="to-animate">Психическое расстройство с характерным искажением действительности, при этом состоянии преобладают навязчивые идеи, бред и галлюцинации. Параноидная форма расстройства распространена среди психических расстройств и выявляется у 70% больных шизофренией – признаки проявляются на фоне имеющегося психического нарушения. Учёные до конца не изучили природу заболевания. Причинами возникновения паранойи могут быть как нарушение ЦНС, так и психические травмы, неврозы и стресс.</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{#    3 h2 texts on blackTWO KINDS OF SCI#}
    <section id="fh5co-home" data-section="home" style="background-image: url({% static 'disorder/images/project-6.jpg' %});" data-stellar-background-ratio="0.5">
        <div class="gradient"></div>
        <div class="container">
            <div class="text-wrap">
                <div class="text-inner">
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2 text-center">
                            <h2 class="to-animate">Две формы проявления:</h2>
                            <h2 class="to-animate">Парафреническая шизофрения, когда пациенты уверены в собственной исключительности и своём неповторимом таланте, состояние сопровождается яркими и постоянными галлюцинациями;</h2>
                            <h2 class="to-animate">Параноидная шизофрения, когда пациент беспочвенно подозревает окружающих, присутствует страх преследования и навязчивая мысль, что кто-то хочет причинить тебе зло.</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{#    2 h2 texts on black#}
    <section id="fh5co-home" data-section="home" style="background-image: url({% static 'disorder/images/project-6.jpg' %});" data-stellar-background-ratio="0.5">
        <div class="gradient"></div>
        <div class="container">
            <div class="text-wrap">
                <div class="text-inner">
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2 text-center">
                            <h2 class="to-animate">«Что ты за человек? И в каком контексте ты – это ты? Ибо люди редко бывают сами по себе. Человек проявляется как человек в той или иной системе, но под влиянием системы человек может меняться. Для того, чтобы понять человека, мы должны видеть как единичное явление, так и общее целое. Наверное, даже так мы никогда всего не поймем, но, возможно, поймем все-таки больше, чем поняли бы, исходя из диагноза»</h2>
                            <h2 class="to-animate">Цитата из книги: «Завтра я всегда была львом»
                                Автор: Арнхильд Лаувенг</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{#    image with no text#}
    <section id="fh5co-home" data-section="home" style="background-image: url({% static 'disorder/images/leonid.png' %});" data-stellar-background-ratio="0.5">
        <div class="gradient"></div>
        <div class="container">
            <div class="text-wrap">
                <div class="text-inner">
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2 text-center">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{#    h1 h3 on black#}
    <section id="fh5co-home" data-section="home" style="background-image: url({% static 'disorder/images/project-6.jpg' %});" data-stellar-background-ratio="0.5">
        <div class="gradient"></div>
        <div class="container">
            <div class="text-wrap">
                <div class="text-inner">
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2 text-center">
                            <h1 class="to-animate">Исповедь любящего до смерти сына</h1>
                            <h3 class="to-animate">В повседневной жизни мы можем даже не знать, что рядом с нами находится человек с нарушениями, внутренняя борьба не видна снаружи, а внешне мы способны лишь зафиксировать последствия этой «битвы».
                                Диагноз параноидальная шизофрения Алексею (имя изменено) был поставлен в 2007 году, когда ему было 19 лет. Тяжелые обстоятельства наложили отпечаток на судьбу героя.
                                Сегодня Алексей не может сказать о полном выздоровлении, но готов говорить о контроле над своим состоянием. В психиатрии – это победа.
                                В общей сложности, Алексей лечился 12 лет. Это большой срок для усиленной борьбы в учреждении, где необходимо каждый день доказывать своё право на полноценную жизнь.</h3>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{#    iframe video only#}
    <section id="fh5co-home" data-section="home" data-stellar-background-ratio="0.5">
        <iframe width="100%" height="100%" src="https://www.youtube-nocookie.com/embed/65AtlPEv39M?controls=0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </section>

{#    h1 h3 on black#}
    <section id="fh5co-home" data-section="home" style="background-image: url({% static 'disorder/images/project-6.jpg' %});" data-stellar-background-ratio="0.5">
        <div class="gradient"></div>
        <div class="container">
            <div class="text-wrap">
                <div class="text-inner">
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2 text-center">
                            <h1 class="to-animate">Триггер</h1>
                            <h3 class="to-animate">
                                Мне 32 года, у меня хроническое психическое расстройство: параноидная шизофрения. Обострение случилось в 2007 году и, к сожалению, привело к трагическим последствиям. Нельзя сказать, что у меня очень тяжелая судьба – во всём, что случилось, виноват я сам.

                                Жил я с мамой и бабушкой в Питере, а отец жил в Москве – там у него была хорошая работа. С мамой они давно уже не любили друг друга: постоянно ругались между собой. Каждый раз, когда отец приезжал домой на выходные, у нас в семье были крики, ссоры, вопли, скандалы – меня эта ситуация очень угнетала. Я пытался им помочь, но они говорили, что сами разберутся и всё равно продолжали ругаться.

                                С 14 лет я был вынужден наблюдать семейные ссоры и, хотя напрямую меня это никак не затрагивало, очень тяжело их переносил. Я очень любил своих родителей и не хотел, чтобы они портили друг другу жизнь.

                                Мне объяснили врачи, что <i>длительная психотравмирующая ситуация могла послужить спусковым крючком (триггером) для развития психического расстройства.</i>
                            </h3>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{#    h3 on white#}
    <section id="fh5co-home" data-section="home" style="background-image: url({% static 'disorder/images/white.jpg' %});" data-stellar-background-ratio="0.5">
        <div class="gradient"></div>
        <div class="container">
            <div class="text-wrap">
                <div class="text-inner">
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2 text-center">
                            <h3 class="to-animate">Беспокойное ощущение отражается на всей деятельности человека, внешне это можно спутать с апатией или плохим настроением.

                                <i>Переходный возраст охватывает периоды от 10-11 лет до 13-14 лет</i> – в эти моменты необходимо уделять особое внимание ребёнку и его эмоциональному состоянию.
                                Подростковый кризис, в котором ребёнок остро реагирует на действия и слова окружающих, характеризуется формированием личности и различными изменениями: физиологического, социального и психического планов.
                                Эти периоды накладывают отпечаток на дальнейшую жизнь человека и его личностную идентификацию.</h3>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{#    cardio video only#}
    <section id="fh5co-home" data-section="home">
        <video autoplay="autoplay" loop="loop" width="100%" id="cardiovideo">
            <source src="{% static 'disorder/videos/cardio.mp4' %}" type="video/mp4" />
        </video>
    </section>

{#    h1 h4 h4 on black#}
    <section id="fh5co-home" data-section="home" style="background-image: url({% static 'disorder/images/project-6.jpg' %});" data-stellar-background-ratio="0.5">
        <div class="gradient"></div>
        <div class="container">
            <div class="text-wrap">
                <div class="text-inner">
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2 text-center">
                            <h1 class="to-animate">Развитие болезни.
                                Как я встретил мифического киллера</h1>

                            <h4 class="to-animate">Психическое расстройство начало развиваться в 2007 году, весной. Моя успеваемость снизилась, я учился в СПБГУ по специальности «Экономика и управление на предприятии», учился хорошо. На последних курсах со мной стало происходить нечто странное: казалось, что другие люди обо мне говорят и замышляют против меня что-то нехорошее.

                                Развивался бред преследования, но тогда я, конечно, об этом не знал. Думал, что это обычное переутомление и все само пройдет.

                                Например, я еду в автобусе, сидят на дальнем сиденье два человека, и мне кажется, что они говорят обо мне. Когда я ещё что-то понимал, то мог себя убедить, что люди вокруг не могут так себя вести. Однако из-за своей низкой психологической грамотности, я так не рассуждал.
                            </h4>

                            <h4 class="to-animate">

                                Последствия этой ошибки я буду расхлебывать всю жизнь, они будут всегда со мной.

                                Я не мог в университете защитить свои работы три раза, что для меня вообще немыслимо. Стал замкнутый. Дома замечать мои перемены было некому – родители были заняты исключительно ссорами между собой.

                                Когда болезнь прогрессировала, я постепенно начал терять ощущение реальности – начал верить в то, что незнакомые люди обо мне говорят и что-то против меня замышляют.

                                И потом, как говорят психиатры, критика к своему состоянию пропала – я перестал осознавать, что со мной что-то не так. К сожалению, я ни с кем не делился своими мыслями, своими страхами – это тоже сыграло свою роль. Единственный вариант был в ситуации, пока я еще что-то понимал – обратиться к психиатру.
                            </h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{#    h3 on image#}
    <section id="fh5co-home" data-section="home" style="background-image: url({% static 'disorder/images/pills.jpg' %});" data-stellar-background-ratio="0.5">
        <div class="gradient"></div>
        <div class="container">
            <div class="text-wrap">
                <div class="text-inner">
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2 text-center">
                            <h3 class="to-animate">Я пришел к болезненным умозаключениям, что мои родители хотят меня убить – на тот момент заболевание уже сильно влияло. Я решил, что мама и папа хотят нанять мифического киллера, чтобы тот меня убил.
                                Я потратил все свои сбережения (больше 300 тысяч рублей) на покупку нелегального боевого пистолета для защиты от убийцы.
                            </h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{#    title + gunshot video#}
    <section id="fh5co-home" data-section="home">
        <h1>


        </h1>
        <h1 class="to-animate" style="position: absolute; z-index: 2; text-align: center; top:30%" >
            В ИТОГЕ, Я СОВЕРШИЛ УЖАСНОЕ ПРЕСТУПЛЕНИЕ —
            Я УБИЛ СВОИХ СОБСТВЕННЫХ РОДИТЕЛЕЙ.
        </h1>
        <video controls width="100%" id="gunshot">
            <source src="{% static 'disorder/videos/gunshot.mp4' %}" type="video/mp4" />
        </video>
    </section>

{#    h1 h3 on black#}
    <section id="fh5co-home" data-section="home" style="background-image: url({% static 'disorder/images/project-6.jpg' %});" data-stellar-background-ratio="0.5">
        <div class="gradient"></div>
        <div class="container">
            <div class="text-wrap">
                <div class="text-inner">
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2 text-center">
                            <h1 class="to-animate">Последствия. Как во сне</h1>
                            <h3 class="to-animate">Я их очень любил и, конечно, не хотел убивать.
                                Даже тогда, когда мне казалось, что они хотят принести мне вред. К сожалению, течение заболевания пошло таким образом.

                                Не могу описать, что я тогда чувствовал, не помню.
                                Прошло много времени, к тому же человеческой памяти свойственно вытеснять сильные и травмирующие воспоминания. Поскольку эта ситуации для меня очень болезненна, я ничего не могу вспомнить.

                                Помню всё, как сон: отец идет в лесу по дорожке впереди меня, я достаю пистолет и стреляю в него. Вспомнить, как убивал маму, я вообще не могу.</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{#    h3 on white#}
    <section id="fh5co-home" data-section="home" style="background-image: url({% static 'disorder/images/white.jpg' %});" data-stellar-background-ratio="0.5">
        <div class="gradient"></div>
        <div class="container">
            <div class="text-wrap">
                <div class="text-inner">
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2 text-center">
                            <h3 class="to-animate">«Я будто бы смотрел на всё происходящее со стороны и не в силах был решать, что мне делать».
                                Навязчивые мысли, если не работать над своим психическим состоянием, перерастают в паранойю. <i>Паранойя – это сильный страх и беспокойство, зацикленность на чем-то и не способность объективно расценивать происходящее вокруг.</i>
                                Как правило, люди, страдающие паранойей, подвержены негативным эмоциям.
                                Им свойственна подозрительность, злопамятность, мнительность. Непроработанные обиды, накопленный негатив или длительно воздействующий стресс ломают человека и негативно сказываются на его психическом состоянии.
                            </h3>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{#    h2 on image#}
    <section id="fh5co-home" data-section="home" style="background-image: url({% static 'disorder/images/runaway.jpg' %});" data-stellar-background-ratio="0.5">
        <div class="gradient"></div>
        <div class="container">
            <div class="text-wrap">
                <div class="text-inner">
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2 text-center">
                            <h2 class="to-animate">После того, как я их убил, придя в себя, плакал в машине и не понимал, зачем я это сделал.
                                Не понимал, как буду жить дальше.
                                Мне было очень страшно.
                            </h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{#    longread h4 on black#}
    <section id="fh5co-home" data-section="home" style="background-image: url({% static 'disorder/images/project-6.jpg' %});" data-stellar-background-ratio="0.5">
        <div class="gradient"></div>
        <div class="container">
            <div class="text-wrap">
                <div class="text-inner">
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2 text-center">
                            <h4 class="to-animate">
                                Даже в том болезненном состоянии, когда я думал, что они наняли киллера, чтобы меня убить, я их не собирался убивать.
                                Я бы хотел вернуть время назад.
                            </h4>

                            <h4 class="to-animate">
                                Сначала я хотел скрыть преступление, меня уже посадили в комнату предварительного задержания – там я написал явку с повинной сам. Мне, в принципе, объяснили возможные варианты развития.
                                Если бы не было найдено оружия, с которого я убил родителей, мою вину доказать было бы невозможно (пистолет я закопал в лесу за чертой города).
                                Без меня бы оружие не смогли найти, и им бы пришлось отпустить меня на свободу. Но тогда бы пришлось всю жизнь врать – допросы велись бы ещё очень долго время.
                            </h4>

                            <h4 class="to-animate">
                                Меня закрыли в камеру.
                                Ко мне пришел адвокат, и я написал явку с повинной, а потом показал, где закопано оружие.
                                Я пошёл против себя, точнее против своей болезни и начал сотрудничать со следствием. На тот момент, я ещё не знал о своем психическом нарушении, но понимал четко, что врать всю жизнь я не в состоянии.

                                На этот момент, я ещё не знал о своем психическом нарушении, но понимал четко, что врать всю жизнь я не в состоянии.
                                Больше всех меня поддерживала моя любимая бабушка: она сразу сказала, что всегда будет на моей стороне.
                                Её вера мне помогала на протяжении всего лечения.
                                Человеку с психическими нарушениями или человеку без нарушений, необходима поддержка в трудных ситуациях.
                            </h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{#    title + video#}
    <section id="fh5co-home" data-section="home">
       <h1 class="to-animate" style="position: absolute; z-index: 2; left:35%; top:50%;">
           12 ЛЕТ НЕ НА СВОБОДЕ
       </h1>
        <video muted autoplay="autoplay" loop="loop" width="100%" id="neuro">
            <source src="{% static 'disorder/videos/neuro.mp4' %}" type="video/mp4" />
        </video>
    </section>

{#    h1 h3 on black#}
    <section id="fh5co-home" data-section="home" style="background-image: url({% static 'disorder/images/project-6.jpg' %});" data-stellar-background-ratio="0.5">
        <div class="gradient"></div>
        <div class="container">
            <div class="text-wrap">
                <div class="text-inner">
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2 text-center">
                            <h1 class="to-animate">Принятие. 12 кругов</h1>
                            <h3 class="to-animate">
                                Когда я попал в психиатрическую больницу, со мной беседовали психиатр, психотерапевт, психолог – разные врачи объяснили, что я болен и что у меня параноидальная шизофрения. Объяснили, что мне необходимо будет принимать таблетки, возможно, всю свою жизнь – это решает врач, в любом случае.
                                <b>Я доверял врачам, потому что себе, на тот момент, доверять мне было очень сложно.</b>
                                Побывал во многих психиатрических больницах. Нельзя дать однозначную оценку всем учреждениям и лечащим врачам, везде по-разному – есть и плюсы, и минусы.
                                Приходилось сталкиваться с определенными нюансами, несмотря на это доверять врачам нужно – в спутанном сознании человеку необходима госпитализация и врачебная помощь.
                                Был с чем-то не согласен и я – в одной из больниц из-за этого меня отправили на специализированное лечение с интенсивным наблюдением из-за «нарушения режима».
                                Но я не держу зла на врачей – они мне помогли прийти в себя.
                            </h3>



                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


{#    h3 h3 h3 on black#}
    <section id="fh5co-home" data-section="home" style="background-image: url({% static 'disorder/images/project-6.jpg' %});" data-stellar-background-ratio="0.5">
        <div class="gradient"></div>
        <div class="container">
            <div class="text-wrap">
                <div class="text-inner">
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2 text-center">

                            <h3 class="to-animate">
                                Необходимо помнить, что мы все живые люди. Кому-то могло не понравится мое преступление и из-за этого было предвзятое отношение. Их понять можно.
                            </h3>

                            <h3 class="to-animate">
                                Люди разные – нельзя говорить, что вся система работает плохо. Нет смысла идти на конфликт. Это не очень конструктивная позиция. Главная задача врачей - подобрать эффективное лечение, чтобы в дальнейшем, если у вас психическое расстройство, вы смогли жить вне учреждения и нормально функционировать в обществе. Не нужно мешать врачам заниматься своим делом. Моей целью был выход из болезненного состояния, нужно было научиться с этим справляться, а не добиться каких-либо привилегий в условиях пребывания в психиатрической больнице.
                            </h3>

                            <h3 class="to-animate">
                                Я всегда старался помогать врачам, медсёстрам и другим пациентам, активно участвовал в различных групповых занятиях, в трудотерапии на отделении, в соревнованиях по шашкам, занимал активную жизненную позицию. Мне это помогало справляться как с болезненным состоянием, так и с мыслью о неопределенных сроках моего пребывания в стенах учреждения.
                            </h3>


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


{#    h1h3h3 on black#}
    <section id="fh5co-home" data-section="home" style="background-image: url({% static 'disorder/images/project-6.jpg' %});" data-stellar-background-ratio="0.5">
        <div class="gradient"></div>
        <div class="container">
            <div class="text-wrap">
                <div class="text-inner">
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2 text-center">
                            <h1 class="to-animate">Причащение</h1>
                            <h3 class="to-animate">
                                Меня выписали в 2019 году, 2 сентября.
                            </h3>
                            <h3 class="to-animate">
                                Больше всего я переживал за то, что моя любимая бабушка меня не дождётся.
                                К счастью, она меня дождалась, сейчас мы живем вместе с ней.
                                Она стала совсем старенькой, но именно её внутренняя сила мне помогла.
                                Мы достойно вместе с ней прошли нелёгкий путь, без неё я бы не справился.
                            </h3>
                            <h3 class="to-animate">
                                У нас нет никого ближе, чем наши родители – мне очень не хватает мамы и папы.
                            </h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


{#    h3 h3 on black#}
    <section id="fh5co-home" data-section="home" style="background-image: url({% static 'disorder/images/project-6.jpg' %});" data-stellar-background-ratio="0.5">
        <div class="gradient"></div>
        <div class="container">
            <div class="text-wrap">
                <div class="text-inner">
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2 text-center">
                            <h3 class="to-animate">
                                Я осознаю, что всю оставшуюся жизнь мне придётся жить с мыслью о преступлении, которое я совершил. И я хочу прожить эту жизнь достойно.
                                По возможности принести пользу людям, своей бабушке, своим друзьям – вообще всем людям, которые меня окружают.
                                И мне очень хочется всех предостеречь. Если у вас что-то не так с психическим состоянием, то не нужно бояться просить о помощи – это не слабость, а, наоборот, ваша сила.
                                Сила заключается в желании жить полноценно. Важно вовремя обратиться за психиатрической помощью, пока ты ещё понимаешь, что с тобой что-то не так.
                                Я вынужден пить таблетки всю свою жизнь и тщательно следить за своим психическим состоянием: если я начинаю подозревать людей в чём-то без повода или происходят серьезные нарушения сна – для меня это является сигналом об обострении состояния.
                            </h3>

                            <h3 class="to-animate">
                                Я считаю, всем людям необходимо заботиться о своём ментальном здоровье, чтобы не потерять свободу над собой и своим телом.
                            </h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


{#    ending on white#}
    <section id="fh5co-home" data-section="home" style="background-image: url({% static 'disorder/images/white.jpg' %});" data-stellar-background-ratio="0.5">
        <div class="gradient"></div>
        <div class="container">
            <div class="text-wrap">
                <div class="text-inner">
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2 text-center">
                            <h3 class="to-animate">
                                «Многие люди считают, если у тебя хроническое психическое расстройство, то ты не можешь нормально работать, нормально учиться, нормально жить в обществе, что ты опасен для себя и окружающих.
                                Это не всегда так, это может быть первое впечатление или стереотипное суждение, но, если человек с психическим расстройством будет вести себя адекватно и разумно – люди это увидят и будут смотреть на него, как на живого человека, на личность, а не как на диагноз, болезнь.
                                Всё зависит только от самого человека».
                            </h3>
                            <h3 class="to-animate">
                                <b>Алексей, 33 года
                                    Диагноз: параноидальная шизофрения
                                    Ремиссия: 6 лет</b>
                            </h3>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{#    go back#}
    <div>
        <a href="/#corridorofchoice"><div id='goback'><h1 id="backtolink">Вернуться в корридор</h1></div></a>
        <video autoplay="autoplay" loop="loop" muted width="100%">
            <source src="{% static 'disorder/videos/gobackcorridor.mp4' %}" type="video/mp4" />
        </video>
    </div>
{% endblock %}