{% extends 'base.html' %}
{% load static %}
{% block content %}
{#    DIAGNOSIS#}
    <section id="fh5co-home" data-section="home" style="background-image: url({% static 'disorder/images/project-6.jpg' %});" data-stellar-background-ratio="0.5">
        <div class="gradient"></div>
        <div class="container">
            <div class="text-wrap">
                <div class="text-inner">
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2 text-center">
                            <h1 class="to-animate">
                                МАНИАКАЛЬНО-ДЕПРЕССИВНЫЙ ПСИХОЗ (МДП) ИЛИ БИПОЛЯРНОЕ АФФЕКТИВНОЕ РАССТРОЙСТВО (БАР)
                            </h1>
                            <h2 class="to-animate">
                                Психическое расстройство, для которого характерна смена фаз: мания (или гипомания) и депрессия (или субдепрессия). Как правило, настроение человека (чередование фаз) не зависит от внешних факторов – расстройство имеет эндогенный характер. Однако психотравмирующие ситуации могут спровоцировать одно из аффективных состояний.
                            </h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    {#    3 h2 texts on blackTWO KINDS OF SCI#}
    <section id="fh5co-home" data-section="home" style="background-image: url({% static 'disorder/images/project-6.jpg' %});" data-stellar-background-ratio="0.5">
        <div class="gradient"></div>
        <div class="container">
            <div class="text-wrap">
                <div class="text-inner">
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2 text-center">
                            <h2 class="to-animate">В мании эмоции бьют через край. Специалисты отмечают следующую симптоматику: быстрая речь, творческий потенциал, отсутствие потребности во сне, нарушение аппетита, бесконтрольная трата денег, склонность к психотропным веществам и алкоголю.</h2>
                            <h2 class="to-animate">Эмоциональный пик может быть выражен как позитивными эмоциями (радость, идейность), так и негативными (раздражительность, неуравновешенность, чрезмерная спешка).</h2>
                            <h2 class="to-animate">После взлета следует падение – депрессивная фаза. Последствия мании проявляются в таких состояниях как подавленность, опустошённость или угнетённость. Физически человек ощущает бессилие, постоянную усталость и боль в суставах. Зачастую посещают мысли о суициде и собственной никчёмности.</h2>
                            <h2 class="to-animate">
                                При отсутствии медикаментозной терапии и психотерапии состояние пациента может ухудшиться и довести его до летального исхода.
                            </h2>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    {#    2 h2 texts on black#}
    <section id="fh5co-home" data-section="home" style="background-image: url({% static 'disorder/images/project-6.jpg' %});" data-stellar-background-ratio="0.5">
        <div class="gradient"></div>
        <div class="container">
            <div class="text-wrap">
                <div class="text-inner">
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2 text-center">
                            <h2 class="to-animate">
                                «АФФЕКТИВНЫМ РАССТРОЙСТВАМ, ПРЕЖДЕ ВСЕГО БИПОЛЯРНОМУ РАССТРОЙСТВУ И ДЕПРЕССИИ, ПОДВЕРЖЕНЫ МИЛЛИОНЫ ЧЕЛОВЕК ВО ВСЕМ МИРЕ. ЕСЛИ ОРИЕНТИРОВАТЬСЯ НА МИРОВУЮ СТАТИСТИКУ, В РОССИИ БОЛЬНЫХ БИПОЛЯРНЫМ РАССТРОЙСТВОМ БОЛЬШЕ МИЛЛИОНА, А ДЕПРЕССИЯ ХОТЯ БЫ РАЗ В ЖИЗНИ СЛУЧАЕТСЯ У 5–20% ЛЮДЕЙ»
                            </h2>
                            <h2 class="to-animate">
                                ЦИТАТА ИЗ КНИГИ: «БЕСПОКОЙНЫЙ УМ»
                                АВТОР: КЕЙ ДЖЕЙМИСОН
                            </h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    {#    image with no text#}
    <section id="fh5co-home" data-section="home" style="background-image: url({% static 'disorder/images/sonya.png' %});" data-stellar-background-ratio="0.5">
        <div class="gradient"></div>
        <div class="container">
            <div class="text-wrap">
                <div class="text-inner">
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2 text-center">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    {#    longread h4 on white#}
    <section id="fh5co-home" data-section="home" style="background-image: url({% static 'disorder/images/white.jpg' %});" data-stellar-background-ratio="0.5">
        <div class="gradient"></div>
        <div class="container">
            <div class="text-wrap">
                <div class="text-inner">
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2 text-center">
                            <h1 class="to-animate">Волнообразное сознание</h1>
                            <h4 class="to-animate">
                                Биполярным расстройством страдали и страдают многие великие и талантливые люди: Винсент Ван Гог, Мел Гибсон, Курт Кобейн, Эрнест Хэмингуэй, Джек Лондон, Илон Маск. Связь творческого потенциала с безумием подтверждается наглядными примерами – за величайшими произведениями искусств скрываются никому не уловимая боль и душевные терзания.
                            </h4>

                            <h4 class="to-animate">
                                «Мания – это одновременно движущая и разрушительная сила , это огонь в крови».

                                В отличие от шизофрении и других психических расстройств, БАР позволяет человеку через какое-то время снова «приобретать» потерянный рассудок. В таком случае, пациенту намного сложнее прийти к выводу, что лечение ему необходимо. Когда наступает ремиссия, то ему кажется, что состояние снова подконтрольно и можно справиться со своими эмоциональными ямами самостоятельно.
                                Лечить нужно не «больного», а человека.
                            </h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    {#    longread h4 on white#}
    <section id="fh5co-home" data-section="home" style="background-image: url({% static 'disorder/images/white.jpg' %});" data-stellar-background-ratio="0.5">
        <div class="gradient"></div>
        <div class="container">
            <div class="text-wrap">
                <div class="text-inner">
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2 text-center">
                            <h4 class="to-animate">
                                Анфиса (имя изменено) страдает биполярным расстройством: девушка прошла длительный путь, чтобы не зависеть от своих переходов.
                                Сегодня Анфиса отказалась от медикаментозной терапии и старается поддерживает своё состояние собственными усилиями. Девушке сейчас 21 год, диагноз был поставлен, когда ей было 19 лет.
                                Анфиса тогда училась на первом курсе в университете Гумрф им. Адмирала Макарова на логиста. Постановке диагноза предшествовали разные ситуации, которые частично сыграли свою роль в развитии расстройства. Утверждать, что причиной заболевания стали факторы из внешнего мира нельзя, но спровоцировать развитие аффективного расстройства они могли.
                            </h4>

                            <h4 class="to-animate">
                                Героиня поделилась своим опытом болезни, благодаря которому сегодня ей удаётся поддерживать своё эмоциональное состояние, не принимая препаратов.
                            </h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    {#    iframe video only#}
    <section id="fh5co-home" data-section="home" data-stellar-background-ratio="0.5">
        <iframe width="100%" height="1005" src="https://www.youtube.com/embed/WX-5j3L7wHI?controls=0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>

        </iframe>
    </section>

    {#    h1 h3 on black#}
    <section id="fh5co-home" data-section="home" style="background-image: url({% static 'disorder/images/project-6.jpg' %});" data-stellar-background-ratio="0.5">
        <div class="gradient"></div>
        <div class="container">
            <div class="text-wrap">
                <div class="text-inner">
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2 text-center">
                            <h1 class="to-animate">Триггер. Детство</h1>
                            <h3 class="to-animate">
                                В детстве я постоянно подвергалась критики со стороны своей матери. Сама она очень стройная, подтянутая, поэтому с особым удовольствием она подтрунивала над моим весом. Я была совсем ребёнком, фигура у меня ещё была не сформирована. Мама часто называла меня «кобылой», «коровой» – и уже в 10 лет я начала по этому поводу «загоняться».
                            </h3>
                            <h3 class="to-animate">
                                С этого всё и началось. Потом мои родители развелись, и мама переехала в другой город. Я почувствовала себя свободной, у меня началось счастливое детство.
                            </h3>
                            <h3 class="to-animate">
                                Несмотря на то, что моя психика больше не подвергалась стрессам и неоправданной критики, происходившие события в детстве, оставили свой отпечаток на моей жизни. Когда один мальчик сказал, что у меня большие икры, я перестала есть. Начались разнообразные диеты, регулярные взвешивания и постоянные глядения в зеркало на свою «несовершенную» фигуру. Родители не замечали этого, их позиция была такой: «делай, что хочешь, главное – хорошо учись».
                            </h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="fh5co-home" data-section="home" style="background-image: url({% static 'disorder/images/project-6.jpg' %});" data-stellar-background-ratio="0.5">
        <div class="gradient"></div>
        <div class="container">
            <div class="text-wrap">
                <div class="text-inner">
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2 text-center">
                            <h3 class="to-animate">
                                Когда мой вес дошёл до 40 килограмм, тогда-то они заметили: мама начала нервничать, а отец старался не лезть во все эти «тонкости». Мама говорила, что я стала очень худая, и я должна больше есть. Мне же было приятно, что она заметила изменения в моём теле. Я наконец-то стала «идеальной» дочерью, думала я. Радовалась тому, что теперь она меня будет больше любить, ведь я перестала быть «коровой», а значит, стала достойна её любви. Сохранить свой вес значило для меня – сохранить любовь матери. Я не смогла остановиться худеть.
                            </h3>
                            <h3 class="to-animate">
                                Мой вес достиг 36 килограмм при росте 170 см. Я ложилась спать в трёх кофтах и постоянно мерзла. Ложилась рано, чтобы справиться с чувством голода. В один момент моя мама психанула – её очень беспокоило, что скажут о моём внешнем виде в школе. Она говорила мне: «вот, тебе скажут, что я над тобой издеваюсь, или подумают, что ты из неблагополучной семьи» – её это пугало больше, чем моё болезненное состояние на тот момент. Она побила меня и заставила есть насильно – это положило начало развитию булимии: я распробовала вкус еды, и мне сорвало крышу.
                            </h3>
                            <h3 class="to-animate">
                                Мама влюбилась в другого мужчину и переехала от нас – с 11 по 14 лет я жила с отцом. К сожалению, развод повлиял на папу, и он начал выпивать. В доме никогда не было еды и каких-либо лекарств, но мне нравилась свобода, которая появилась у меня благодаря отъезду мамы. Общались мы с ней очень редко.
                            </h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    {#    h3 on white#}
    <section id="fh5co-home" data-section="home" style="background-image: url({% static 'disorder/images/white.jpg' %});" data-stellar-background-ratio="0.5">
        <div class="gradient"></div>
        <div class="container">
            <div class="text-wrap">
                <div class="text-inner">
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2 text-center">
                            <h3 class="to-animate">
                                <b>Возраст 10-11 лет называют периодом «конца детства».</b>
                                Этот период очень важен, поскольку он оказывает непосредственное влияние на формирование личности ребёнка. Критика со стороны родителей, отсутствие родительского контроля, родительской любви или ласки, сказываются на развитии ребёнка и на его отношении к миру и к самому себе.
                            </h3>
                            <h3 class="to-animate">
                                <b>Период от 11 до 14 лет считается вторым этапом взросления.</b>
                                Подросток в этом возрасте мало кому доверяет, подвергает всё критике и страдает эмоциональной неустойчивостью. На этом этапе закладываются базовые принципы, на основе которых ребёнок идентифицирует себя с окружающими.
                                Во многом это определяет то, каким человек будет в будущем.
                            </h3>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    {#    cardio video only#}
    <section id="fh5co-home" data-section="home">
        <video muted autoplay="autoplay" loop="loop" width="100%" id="cardiovideo">
            <source src="{% static 'disorder/videos/cardio.mp4' %}" type="video/mp4" />
        </video>
    </section>

    {#    h1 h4 h4 on black#}
    <section id="fh5co-home" data-section="home" style="background-image: url({% static 'disorder/images/project-6.jpg' %});" data-stellar-background-ratio="0.5">
        <div class="gradient"></div>
        <div class="container">
            <div class="text-wrap">
                <div class="text-inner">
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2 text-center">
                            <h1 class="to-animate">Я худею.</h1>

                            <h4 class="to-animate">
                                Потом мама вернулась в семью, мы переехали в
                                Санкт-Петербург. Больше она меня не критиковала, потому что испытывала чувство вины – вряд ли это можно было назвать любовью.
                            </h4>

                            <h4 class="to-animate">
                                На этот момент мне уже было 16 лет, а остановиться худеть я так и не смогла. Мама думала, что это очередные тараканы в голове, а отец, как всегда, старался не занимать ничью сторону. В этом плане у него была правильная позиция: он никогда не говорил мне, что я толстая, но и в то же время, не был со мной рядом, когда мне было плохо. Мне было страшно выходить на улицу из дома, когда я набирала вес. Казалось, если кто-то увидит меня, подумает, что я дала слабину и поправилась.
                            </h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="fh5co-home" data-section="home" style="background-image: url({% static 'disorder/images/project-6.jpg' %});" data-stellar-background-ratio="0.5">
        <div class="gradient"></div>
        <div class="container">
            <div class="text-wrap">
                <div class="text-inner">
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2 text-center">

                            <h2 class="to-animate">
                                Мне необходимо было чувствовать вкус еды, а затем прочищать от неё желудок.
                            </h2>

                            <h4 class="to-animate">
                                Был случай, когда дома не осталось еды, потому что я всю её уже поглотила и несколько раз ходила прочищать желудок от неё. Помню, как хотела разморозить фарш и что-нибудь приготовить, но он так долго размораживался, что я не вытерпела.
                            </h4>
                            <h2 class="to-animate">
                                Я начала поглощать мороженный сырой фарш. Это было ужасно.
                            </h2>
                            <h4 class="to-animate">
                                Сейчас я не могу есть при маме: либо не доедаю, либо ем, когда нахожусь одна – даже с друзьями мне иногда сложно принимать пищу. Я осознаю, что <b>страх поправиться у меня в голове с самого детства – от него нелегко избавиться.</b>
                            </h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    {#    h3 on white#}
    <section id="fh5co-home" data-section="home" style="background-image: url({% static 'disorder/images/white.jpg' %});" data-stellar-background-ratio="0.5">
        <div class="gradient"></div>
        <div class="container">
            <div class="text-wrap">
                <div class="text-inner">
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2 text-center">
                            <h3 class="to-animate">
                                <i>Булимия – это расстройство пищевого поведения, при котором каждый приём пищи превращается в своеобразный ритуал.</i>
                                Патология относится к психическим заболеваниям и характеризуется неконтролируемыми приступами резкого повышения аппетита, перееданием и желанием прочистить желудок после еды.
                                Булимия может развиваться на фоне других психических нарушений или стать результатом неправильного воспитания: чаще всего булимией страдают те, кого в детстве наказывали, лишая еды или поощряли, давая дополнительные порции.

                                Любая манипуляция посредством еды, выстраивает неверное отношение у ребёнка к приёмам пищи.
                            </h3>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    {#    image with no text#}
    <section id="fh5co-home" data-section="home" style="background-image: url({% static 'disorder/images/ruchka.jpg' %});" data-stellar-background-ratio="0.5">
        <div class="gradient"></div>
        <div class="container">
            <div class="text-wrap">
                <div class="text-inner">
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2 text-center">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    {#    h1 h3 on black#}
    <section id="fh5co-home" data-section="home" style="background-image: url({% static 'disorder/images/project-6.jpg' %});" data-stellar-background-ratio="0.5">
        <div class="gradient"></div>
        <div class="container">
            <div class="text-wrap">
                <div class="text-inner">
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2 text-center">
                            <h1 class="to-animate">Развитие. Биполярное расстройство</h1>
                            <h3 class="to-animate">
                                Во мне воспитали синдром отличницы: ругали за четвёрки, тройки и хвалили за пятёрки – я боялась рассказывать о своей учебе родителям и не могла поделиться с ними посторонними проблемами. Мне до сих пор сложно отказывать людям, и я до сих пор стараюсь учиться хорошо. Избавиться от этого сложно.
                            </h3>
                            <h3 class="to-animate">
                                <b>Со временем, я поняла, что люблю свою мать тем больше, чем она от меня дальше.</b>
                                Её поведение по отношению ко мне: грубость, придирчивость, требовательность – можно объяснить её тяжелым детством. Она была первым ребёнком, потом у неё родилась младшая сестра, на которую родители переключили всё своё внимание.
                                <b>Как и у меня, у неё были плохие отношения с матерью.</b>
                            </h3>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    {#    h3 on white#}
    <section id="fh5co-home" data-section="home" style="background-image: url({% static 'disorder/images/white.jpg' %});" data-stellar-background-ratio="0.5">
        <div class="gradient"></div>
        <div class="container">
            <div class="text-wrap">
                <div class="text-inner">
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2 text-center">
                            <h3 class="to-animate">
                                Часто причиной родительской грубости по отношению к своим детям становятся их непроработанные детские обиды на своих родителей.
                                Отсутствие правильной модели «родителя» и модели правильного «воспитания», вызывают реакции имитации у детей, которые усваиваются детьми автоматически, по модели родителя.
                            </h3>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    {#    h1 h3 on black#}
    <section id="fh5co-home" data-section="home" style="background-image: url({% static 'disorder/images/project-6.jpg' %});" data-stellar-background-ratio="0.5">
        <div class="gradient"></div>
        <div class="container">
            <div class="text-wrap">
                <div class="text-inner">
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2 text-center">
                            <h4 class="to-animate">
                                Мне никто не ставил диагноз анорексия, но потом, когда я пообщалась со своей подругой и мы обменялись по интернету фотографиями, она увидела, как сильно я похудела и сказала, что мой случай напоминает типичную анорексию.
                                <b>Дистрофия – это «побочка» анорексии, а анорексия всегда в голове.</b>
                                Я взвешивалась 5 раз в день, завела счётчик калорий, постоянно себя замеряла и смотрела на себя обнажённую в зеркало, постоянно находя изъяны.
                            </h4>
                            <h2 class="to-animate">
                                В 18 лет я обратилась к врачу: мне подтвердили анорексию и поставили диагноз – биполярное расстройство.
                            </h2>
                            <h4 class="to-animate">
                                На 1 курсе «я оторвалась от мамкиной юбки»: продолжала с ней жить, но теперь она меня отпускала к друзьям и воспринимала, как более-менее взрослого человека.
                                Как-то раз я пошла на день рождения девочки с ночёвкой. Там познакомилась с парнем без какого-либо романтического интереса: мы общались с ним 2,5 месяца – ничего не предвещало беды. Он позвал меня в лес жарить зефир, мы были с ним вдвоём. Мы гуляли по лесу, и тут он говорит мне, что ему нужно срочно вернуться домой, чтобы покормить рыбок.
                            </h4>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    {#    h3 on image#}
    <section id="fh5co-home" data-section="home" style="background-image: url({% static 'disorder/images/fish_hand.jpg' %});" data-stellar-background-ratio="0.5">
        <div class="gradient"></div>
        <div class="container">
            <div class="text-wrap">
                <div class="text-inner">
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2 text-center">
                            <h3 class="to-animate">
                                Мы пошли к нему, я не особо хотела заходить, но он настоял. Дома у него никого не было, я спросила:
                            </h3>
                            <h1 class="to-animate">
                                «Где твои рыбки, собственно?» – он ничего не ответил.
                            </h1>
                            <h4 class="to-animate">
                                Вместо ответа он отвёл меня на кухню, где на листе А4 была нарисована рыбка. Отрезав кусок яблока, он начал долбить им по рту нарисованной рыбки и кричать: «Жри, жри!». Мне стало очень страшно.
                                Ему всё-таки удалось убедить меня, что это была неудачная шутка, после чего он налил мне вина и попросил выпить. Из вежливости я сделала один глоток, через пару минут меня вырубило. Я проснулась голая у него в кровати, а он нависал надо мной – моё тело меня не слушалось, меня парализовало. Сначала он пытался психологически уговорить меня на близость, но я отказывалась, потом начал применять физическую силу: бил по лицу, по шее, прокусил мне кожу на ребре – чтобы «я запомнила этот день навсегда».
                                «Зачем ты орёшь, тебя всё равно никто не услышит», – говорил он мне, когда я пыталась звать на помощь.
                                За 2,5 месяца общения со мной он хорошо меня познал: говорил мне много комплиментов, комплименты моему телу, моему лицу – он оказался хорошим психологом. Из-за его увлечения наркотиками, у него возникли трудности с эрекцией, и он начал сильно нервничать. Когда он ушёл курить, я абсолютно голая выхватила какие-то вещи, выбежала из квартиры и быстро начала вызывать лифт.
                                Сзади меня раздавались его грузные шаги, мне очень повезло, что дверь лифта успела закрыться, и я уехала вниз.
                            </h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    {#    h3 on white#}
    <section id="fh5co-home" data-section="home" style="background-image: url({% static 'disorder/images/white.jpg' %});" data-stellar-background-ratio="0.5">
        <div class="gradient"></div>
        <div class="container">
            <div class="text-wrap">
                <div class="text-inner">
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2 text-center">
                            <h3 class="to-animate">

                                Причиной развития психических расстройств могут стать стрессовые факторы, травмирующие ситуации или физическое насилие, даже если патология имеет эндогенный характер. В случае с биполярным расстройством, любое эмоциональное потрясение может послужить толчком к развитию хронического заболевания.
                            </h3>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>



    {#    waves video only#}
    <section id="fh5co-home" data-section="home">
        <video controls autoplay="autoplay" loop="loop" width="100%" id="wavesvideo">
            <source src="{% static 'disorder/videos/waves.mp4' %}" type="video/mp4" />
        </video>
    </section>


    {#   h3 on black#}
    <section id="fh5co-home" data-section="home" style="background-image: url({% static 'disorder/images/project-6.jpg' %});" data-stellar-background-ratio="0.5">
        <div class="gradient"></div>
        <div class="container">
            <div class="text-wrap">
                <div class="text-inner">
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2 text-center">
                            <h4 class="to-animate">

                                <b>Вниз я уехала и в своём эмоциональном состоянии – после этого случая у меня началась глубокая депрессия:</b> 4 месяца я не понимала, что происходит и откуда мне брать силы.
                                На тот момент мне было 18 лет, <b>развитие биполярного расстройства приходится на возраст от 18 до 25 лет</b> – всё совпало. Сейчас я рассказываю обо всём с улыбкой, с легкой снисходительностью, но в то время это был большой стресс для меня.
                            </h4>

                            <h4 class="to-animate">
                                После депрессии меня резко бросило в манию: я начала много пить, курить, пыталась выйти из окна, думая, что меня подхватит ветер. Я мнила себя божественным созданием и тратила много денег. Мания длилась недолго, потом меня снова бросило в депрессию – и тут мама обратила внимание на то, что со мной происходит что-то неладное.
                            </h4>
                            <h4 class="to-animate">
                                Я могла заплакать от любого замечания, не хотела говорить с родителями и выходить из своей комнаты. Сил ни на что не оставалось. Начались небольшие приступы истерики: я начинала плакать, затем истерически смеяться – маму это стало пугать, и она заставила меня обратиться за психиатрической помощью.
                            </h4>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    {#    hypno text + video#}
    <section id="fh5co-home" data-section="home">
        <h3 class="to-animate" style="text-align: center; z-index: 2">
            Мне прописали таблетки–понадобилось несколько месяцев, чтобы подобрать правильное лечение.
            Побочные эффекты ярко себя проявляли: я лежала, и на краю своей кровати видела бабушку, которая гладила меня по ноге и говорила, что я должна «выпилиться» (покончить с собой).
            Меня постоянно трясло и вечно шумело в голове.
        </h3>
        <h2 class="to-animate" style="text-align: center; z-index: 2">
            Возникали тактильные, слуховые и зрительные галлюцинации.
        </h2>

        <video muted autoplay="autoplay" loop="loop" width="100%" id="hypno">
            <source src="{% static 'disorder/videos/cardio.mp4' %}" type="video/mp4" />
        </video>


    </section>

    {#    longread h4 on black#}
    <section id="fh5co-home" data-section="home" style="background-image: url({% static 'disorder/images/project-6.jpg' %});" data-stellar-background-ratio="0.5">
        <div class="gradient"></div>
        <div class="container">
            <div class="text-wrap">
                <div class="text-inner">
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2 text-center">
                            <h1 class="to-animate">
                                Лечение.
                                Я хотела срезать цветы
                            </h1>

                            <h2 class="to-animate">
                                В какой-то момент мне показалось, что у меня под грудью выросли цветы. Моё тело казалось мне отравленным, и если бы я не срезала цветы, то умерла бы. Я достала нож и порезала им себе живот.
                            </h2>

                            <h2 class="to-animate">

                                Конечно, цветов там не было, но теперь там есть шрамы от порезов.
                            </h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="fh5co-home" data-section="home" style="background-image: url({% static 'disorder/images/project-6.jpg' %});" data-stellar-background-ratio="0.5">
        <div class="gradient"></div>
        <div class="container">
            <div class="text-wrap">
                <div class="text-inner">
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2 text-center">
                            <h4 class="to-animate">
                                У меня есть склонность к «селфхарму» (от self-harm «самоповреждение»). В мании я увлекалась алкоголем, сигаретами, была склона к опасному поведению – это тоже своего рода «селфхарм», желание себя наказать.
                                Сейчас я понимаю, что это всё из детства, ведь меня всегда наказывали за любой проступок.
                                Когда наказывать меня стало некому, я начала делать это самостоятельно – моя психика требует наказания.
                                Мания сильно выматывает. «Выжираешь» огромный потенциал, запас своей энергии, а депрессия наступает, потому что сил больше не остаётся – происходит эмоциональный дисбаланс.
                            </h4>

                            <h4 class="to-animate">
                                Во время мании хочется сделать всегда что-то безумное, грандиозное, например, нарушить закон и любым способом получить адреналин.

                                Я лазила по водосточным трубам, бегала большие дистанции по несколько раз, могла пройти пешком большие расстояния. В университете от меня люди вешались: я садилась с человеком и начинала его «тыркать» или щипать, много тараторить и отвечать на всех парах, даже если не знала правильно ответа.
                            </h4>

                            <h2 class="to-animate">
                                Перескакивала вечно с мысли на мысль,
                                с идеи на идею.
                            </h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    {#    h3 on white#}
    <section id="fh5co-home" data-section="home" style="background-image: url({% static 'disorder/images/white.jpg' %});" data-stellar-background-ratio="0.5">
        <div class="gradient"></div>
        <div class="container">
            <div class="text-wrap">
                <div class="text-inner">
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2 text-center">
                            <h3 class="to-animate">
                                <b>«Self-harm» («самоповреждение») – это один из способов справится с душевной болью, с переживаниями или негативными воспоминаниями.</b> Наносить себе вред человек может разными способами – это зависит от причин, которые заставляют или заставили его испытывать внутреннюю боль.
                            </h3>
                            <h3 class="to-animate">
                                В период мании эмоции бьют через край, пациенту необходимо чувствовать себя живым, быть на пике жизни и за гранью реальных ощущений. Возникает склонность к неадекватному и опасному поведению.
                            </h3>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    {#    h1 h3 on black#}
    <section id="fh5co-home" data-section="home" style="background-image: url({% static 'disorder/images/project-6.jpg' %});" data-stellar-background-ratio="0.5">
        <div class="gradient"></div>
        <div class="container">
            <div class="text-wrap">
                <div class="text-inner">
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2 text-center">
                            <h1 class="to-animate">Побочные эффекты или симптомы шизофрении</h1>
                            <h3 class="to-animate">
                                Побочные эффекты от таблеток были выражены слуховыми, зрительными и тактильными галлюцинациями, возникали навязчивые идеи.
                            </h3>
                            <h3 class="to-animate">
                                Про всё это я не говорила своему психиатру, так как боялась того, что мне поставят диагноз – шизофрения. Помню, что мне нужно было ехать в университет, я себя неважно чувствовала, но всё-таки вышла из дома.
                            </h3>
                            <h3 class="to-animate">
                                Я вышла на лестничную площадку и увидела там кота, который, как мне показалось, представлял «угрозу» для моего питомца - дома у меня был попугай.
                                Тогда я осознала, что если не съесть ключи от квартиры, то кот каким-то образом пройдет через дверь и съест моего попугая. Я начала есть ключи, помню, тогда раскрошила себе зуб, боль из-за которого помогла мне прийти в себя.
                                В итоге ключи я не съела, а зуб сломала.
                            </h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="fh5co-home" data-section="home" style="background-image: url({% static 'disorder/images/project-6.jpg' %});" data-stellar-background-ratio="0.5">
        <div class="gradient"></div>
        <div class="container">
            <div class="text-wrap">
                <div class="text-inner">
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2 text-center">
                            <h3 class="to-animate">
                                Помимо это, у меня периодически возникали голоса в голове: женский голос комментировал все мои действия.
                            </h3>
                            <br>
                            <h3 class="to-animate">
                                Например, я закрываю дверь на два оборота, а женский голос мог в это время говорить: «опять закрыла на два оборота, боится, наверное».
                                Отчасти, этот голос был похож на тот, когда люди сами с собой говорят или прокручивают в голове какие-то мысли. Только в такие моменты ты знаешь, что это сказал ты – это твои мысли.
                            </h3>
                            <br>
                            <h2 class="to-animate">
                                А это были не мои мысли, это было что-то чужое.
                            </h2>
                            <br>
                            <h3 class="to-animate">
                                Везде мерещились пауки и тараканы: я могла посреди пары ударить по парте, и тем самым вызвать всеобщее удивление. Позже я научилась «бороться» со зрительными галлюцинациями. Я брала телефон и наводила камеру на «галлюцинацию» – не знаю, как это работает, но, если ты наводишь камеру на галлюцинацию, там её нет.
                            </h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    {#    h3 on white#}
    <section id="fh5co-home" data-section="home" style="background-image: url({% static 'disorder/images/white.jpg' %});" data-stellar-background-ratio="0.5">
        <div class="gradient"></div>
        <div class="container">
            <div class="text-wrap">
                <div class="text-inner">
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2 text-center">
                            <h3 class="to-animate">
                                <b>Побочные эффекты от психотропных препаратов могут быть выражены в галлюцинации разного типа.</b> Антидепрессанты, транквилизаторы и нейролептики, которые выписываю людям с психическими расстройствами, влияют на ЦНС. Если пациенту не подходит препарат или ему неправильно подобрали дозировку, возникнут побочные эффекты: галлюцинации или физическое недомогание.

                                В психиатрии подбирать лекарства пациентам могут на протяжении 2-3 месяцев, чтобы медикаментозная терапия имела только положительный эффект.
                            </h3>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    {#    h1 h3 on black#}
    <section id="fh5co-home" data-section="home" style="background-image: url({% static 'disorder/images/project-6.jpg' %});" data-stellar-background-ratio="0.5">
        <div class="gradient"></div>
        <div class="container">
            <div class="text-wrap">
                <div class="text-inner">
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2 text-center">
                            <h3 class="to-animate">

                                У меня был выбор: ложиться в диспансер, чтобы за мной наблюдали и подбирали таблетки там, либо самостоятельно отслеживать своё состояние дома. Мне нужно было ходить в университет, поэтому я выбрала второй вариант.
                            </h3>
                            <h3 class="to-animate">
                                <b>Биполярное расстройство имеет наследственный фактор: у моего дяди, по папиной линии, были симптомы, характерные для биполярного расстройства.</b> Он не обращался к врачу – тогда это было равноценно тому, чтобы признать себя невменяемым и самоизолироваться от общества. Некоторое время он употреблял наркотики, а потом повесился в 25 лет.
                                Стрессовые и травмирующие ситуации стали «толчком» к проявлению биполярного расстройства, также сыграла свою роль генетическая расположенность.

                            </h3>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="fh5co-home" data-section="home" style="background-image: url({% static 'disorder/images/project-6.jpg' %});" data-stellar-background-ratio="0.5">
        <div class="gradient"></div>
        <div class="container">
            <div class="text-wrap">
                <div class="text-inner">
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2 text-center">
                            <h1 class="to-animate">Принятие</h1>
                            <h3 class="to-animate">
                                К 3 курсу мне подобрали лечение. Я пыталась бросать пить таблетки, но состояние ухудшалось. Если у пациента возникает мысль отказаться от медикаментозной терапии, то этот процесс должен контролировать лечащий врач, снижая понемногу дозировку лекарства.
                                <b>Когда я принимала препараты, симптомы биполярного расстройства удалось немного сгладить – скачки не так резко были выражены.</b> От нейролептиков я сильно поправилась и приняла решение отказаться от медикаментозного лечения – возник «синдром отмены», но я научилась с этим справляться.
                            </h3>
                            <h3 class="to-animate">
                                Мании у меня уже давно не было, сейчас у меня более-менее ровное состояние. Я знаю свои циклы настроений и к ним стараюсь подготовиться. Обострения случаются обычно осенью и весной. Из таблеток принимаю только снотворное. Стараюсь меньше выходить из дома и больше спать, когда наступает маниакальная фаза.
                            </h3>
                            <h3 class="to-animate">
                                <b>Я предупреждаю людей о своей особенности, когда иду с ними на близкий контакт – они должны сами для себя решить, готовы ли они к такому или нет.</b> Такие, как я, не могут быть «любимыми» и долго находиться в отношениях. Опять же, это из своего личного опыта.
                            </h3>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    {#    h3 on white#}
    <section id="fh5co-home" data-section="home" style="background-image: url({% static 'disorder/images/white.jpg' %});" data-stellar-background-ratio="0.5">
        <div class="gradient"></div>
        <div class="container">
            <div class="text-wrap">
                <div class="text-inner">
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2 text-center">
                            <h3 class="to-animate">
                                <b>«Синдром отмены» – это побочный эффект, который наступает при резкой отмене препаратов</b>, имеющих накопительный эффект или эмоционально-сдерживающий (антидепрессанты и нейролептики).

                                Биохимия мозга под их воздействием изменяется, через определенный период времени отмена психотропных препаратов станет почти невозможна (есть исключения: замена на другие препараты, постепенное снижение дозировки).
                            </h3>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    {#    image with no text#}
    <section id="fh5co-home" data-section="home" style="background-image: url({% static 'disorder/images/gloves.jpg' %});" data-stellar-background-ratio="0.5">
        <div class="gradient"></div>
        <div class="container">
            <div class="text-wrap">
                <div class="text-inner">
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2 text-center">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    {#    h1 h3 on black#}
    <section id="fh5co-home" data-section="home" style="background-image: url({% static 'disorder/images/project-6.jpg' %});" data-stellar-background-ratio="0.5">
        <div class="gradient"></div>
        <div class="container">
            <div class="text-wrap">
                <div class="text-inner">
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2 text-center">
                            <h1 class="to-animate">Общественный взгляд</h1>
                            <h3 class="to-animate">
                                Мы с мамой стояли как-то в очереди, рядом с нами стояли две девушки, одна другой говорит: «знаешь, биполярное расстройство – это сейчас так модно». Я тогда очень разозлилась.
                            </h3>
                            <br>
                            <h3 class="to-animate">
                                Каждый человек, у которого есть ментальное заболевание, хочет от него избавиться, вылечить его – это не модно, это страшно.
                            </h3>
                            <br>
                            <h3 class="to-animate">
                                По данным «Всемирной организации здравоохранения», каждый четвертый-пятый человек имеет психическое нарушение.
                                Сейчас очень много сериалов про героев с ментальными заболеваниями, я думаю, у создателей была цель – показать, что такие люди существуют и нормально функционируют в обществе. Но общество восприняло это по-другому – теперь стало модно иметь какое-то расстройство и ставить себе самостоятельно диагнозы.
                                Когда я общаюсь с человеком, у которого есть расстройство, прежде всего, смотрю на его личность. Если смотреть на человека, как на болезнь или расстройство, это только усугубит его состояние.
                            </h3>
                            <h3 class="to-animate">
                                Сегодня я веду свой блог и пишу о том, как я справляюсь с биполярным расстройством. Меня радует, когда люди осмеливаются написать мне и рассказать о своём случае.
                                Я не квалифицированный врач, но человеку всегда необходима, в первую очередь, поддержка и понимание.
                            </h3>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    {#    ending on white#}
    <section id="fh5co-home" data-section="home" style="background-image: url({% static 'disorder/images/white.jpg' %});" data-stellar-background-ratio="0.5">
        <div class="gradient"></div>
        <div class="container">
            <div class="text-wrap">
                <div class="text-inner">
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2 text-center">
                            <h3 class="to-animate">
                                «Любая социализация, любых людей, не важно, есть у них заболевание или нет, прежде всего, требует заботы о себе».
                            </h3>
                            <h3 class="to-animate">
                                <b>Соня, 21 год
                                    Диагноз: биполярное расстройство
                                    Ремиссия: отсутствует
                                </b>
                            </h3>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{#    go back#}
    <div>
        <a href="/#corridorofchoice"><div id='goback'><h1 id="backtolink">Вернуться в корридор</h1></div></a>
        <video autoplay="autoplay" loop="loop" muted width="100%">
            <source src="{% static 'disorder/videos/gobackcorridor.mp4' %}" type="video/mp4" />
        </video>
    </div>
{% endblock %}