{% extends 'base.html' %}
{% load static %}
{% block content %}
{#    DIAGNOSIS#}
    <section id="fh5co-home" data-section="home" style="background-image: url({% static 'disorder/images/project-6.jpg' %});" data-stellar-background-ratio="0.5">
        <div class="gradient"></div>
        <div class="container">
            <div class="text-wrap">
                <div class="text-inner">
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2 text-center">
                            <h1 class="to-animate">ПСИХОЛОГИЧЕСКАЯ ЗАВИСИМОСТЬ ИЛИ АДДИКЦИЯ</h1>
                            <h2 class="to-animate">
                                Сильное влечение к кому-то, к какому-либо действию или состоянию. Бесконечная потребность получать конкретную эмоциональную насыщенность от предмета или объекта. Если человек сталкивается с невозможностью удовлетворить свои эмоциональные потребности, он начинает искать альтернативные пути насыщения: наркотики, алкоголь, адреналин (эпинефрин). Форма зависимости является симптомом, который сигнализирует о серьёзном психологическом или психическом нарушении у человека.
                            </h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    {#    2 h2 texts on black#}
    <section id="fh5co-home" data-section="home" style="background-image: url({% static 'disorder/images/project-6.jpg' %});" data-stellar-background-ratio="0.5">
        <div class="gradient"></div>
        <div class="container">
            <div class="text-wrap">
                <div class="text-inner">
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2 text-center">
                            <h2 class="to-animate">
                                ПОВЕДЕНИЕ ЗАВИСИМОГО ЧЕЛОВЕКА НЕЛЬЗЯ ОБЪЯСНИТЬ ТОЛЬКО ОТСУТСТВИЕМ СИЛЫ ВОЛИ, ПСИХОЛОГИЧЕСКАЯ АДДИКЦИЯ – ХРОНИЧЕСКОЕ ПСИХИЧЕСКОЕ ЗАБОЛЕВАНИЕ, КОТОРОЕ ЗАТРАГИВАЕТ СИСТЕМУ ВОЗНАГРАЖДЕНИЯ, МОТИВАЦИЮ, ПАМЯТЬ И ДРУГИЕ СТРУКТУРЫ ГОЛОВНОГО МОЗГА.
                            </h2>
                            <h2 class="to-animate">
                                НАРКОТИЧЕСКАЯ ЗАВИСИМОСТЬ ЯВЛЯЕТСЯ ОДНИМ ИЗ РАЗДЕЛОВ В ПСИХИАТРИИ, ВРАЧ-НАРКОЛОГ МИХАЙЛОВ АЛЕКСАНДР ДМИТРИВИЧ СЧИТАЕТ, ЧТО РАННЕЕ И ДЛИТЕЛЬНОЕ УПОТРЕБЛЕНИЕ ОПРЕДЕЛЕННЫХ НАРКОТИЧЕСКИХ ВЕЩЕСТВ, МОЖЕТ ПРИВЕСТИ К РАЗВИТИЮ БОЛЕЕ ТЯЖЕЛЫХ ФОРМ ПСИХИЧЕСКИХ НАРУШЕНИЙ: ШИЗОФРЕНИЯ, БИПОЛЯРНОЕ РАССТРОЙСТВО ИЛИ РАССТРОЙСТВО ЛИЧНОСТИ.
                            </h2>
                            <h2 class="to-animate">
                                В ПСИХИАТРИИ ЗАФИКСИРОВАНЫ СЛУЧАИ, КОГДА ПРИЧИНОЙ УПОТРЕБЛЕНИЯ НАРКОТИЧЕСКИХ ВЕЩЕСТВ СТАНОВИТСЯ САМО ПСИХИЧЕСКОЕ РАССТРОЙСТВО, В ТАКОМ СЛУЧАЕ, СОСТОЯНИЕ ПАЦИЕНТА УХУДШАЕТСЯ И МОЖЕТ ПРИВЕСТИ К ЛЕТАЛЬНОМУ ИСХОДУ.
                            </h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    {#    2 h2 texts on black#}
    <section id="fh5co-home" data-section="home" style="background-image: url({% static 'disorder/images/project-6.jpg' %});" data-stellar-background-ratio="0.5">
        <div class="gradient"></div>
        <div class="container">
            <div class="text-wrap">
                <div class="text-inner">
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2 text-center">
                            <h2 class="to-animate">
                                «ВСЕ МЫ ТЕПЕРЬ ЗНАКОМЫЕ, А НЕ ДРУЗЬЯ»
                            </h2>
                            <h2 class="to-animate">
                                ЦИТАТА ИЗ КНИГИ: «НА ИГЛЕ»
                                АВТОР: ИРВИН УЭЛШ
                            </h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    {#    image with no text#}
    <section id="fh5co-home" data-section="home" style="background-image: url({% static 'disorder/images/nastya.png' %});" data-stellar-background-ratio="0.5">
        <div class="gradient"></div>
        <div class="container">
            <div class="text-wrap">
                <div class="text-inner">
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2 text-center">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    {#    h3 on white#}
    <section id="fh5co-home" data-section="home" style="background-image: url({% static 'disorder/images/white.jpg' %});" data-stellar-background-ratio="0.5">
        <div class="gradient"></div>
        <div class="container">
            <div class="text-wrap">
                <div class="text-inner">
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2 text-center">
                            <h1 class="to-animate">
                                Заполненная пустота
                            </h1>
                            <h3 class="to-animate">
                                <b>«Не бывает бывших наркоманов, бывают длительные ремиссии», – высказался врач-нарколог.</b>
                            </h3>
                            <h3 class="to-animate">
                                К сожалению, каждый человек, подвержен зависимости (имеется в виду любая форма зависимости). Кому-то удаётся с ней справляться и не поддаться соблазну, а кому-то сопротивляться сложнее – причиной этому могут быть разные факторы. Например, отсутствие должной поддержки со стороны близких и окружающих людей, неблагоприятная обстановка в семье, чувство неудовлетворенности своей жизнью. Возникает желание сбежать от реальности разными способами.
                            </h3>
                            <h3 class="to-animate">
                                Зависимость бывает не только от алкоголя или наркотиков, но и от такого, как работа, еда, любимый человек – это та же психологическая аддикция, которая в меньшей степени наносит вред физическому и эмоциональному здоровью человека.
                                Если «объект эмоционального насыщения» исчезает или вовсе отсутствует в жизни человека, чтобы унять внутреннюю боль и пустоту, он начинает искать «аналог эмоционального насыщения». Чаще таким
                                «аналогом» становятся наркотики, алкоголь или лекарственные препараты.
                            </h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {#    h3 on white#}
    <section id="fh5co-home" data-section="home" style="background-image: url({% static 'disorder/images/white.jpg' %});" data-stellar-background-ratio="0.5">
        <div class="gradient"></div>
        <div class="container">
            <div class="text-wrap">
                <div class="text-inner">
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2 text-center">
                            <h3 class="to-animate">
                                Татьяна (имя изменено) столкнулась с наркотической зависимостью, когда ей было 18 лет. Зависимость была не от самих психотропных веществ, а от тех эмоций, которые героиня испытывала благодаря им.
                                Это приводит к тому, что человек постепенно теряет всякую связь с реальностью, теряет себя как личность.
                            </h3>
                            <h2 class="to-animate">
                                «Нужно либо начинать бороться, либо позволять наркотикам проживать жизнь вместо тебя».
                            </h2>
                            <h3 class="to-animate">
                                Несколько лет героине понадобилось, чтобы свернуть с этого пути. Благодаря поддержке со стороны окружающих и наглядным примерам успешной борьбы с наркотической зависимостью, сегодня Татьяна может контролировать и осознавать свою жизнь, а это уже маленькая победа.
                            </h3>
                            <h3 class="to-animate">
                                Девушке сегодня 21 год, недавно она переехала в Санкт-Петербург и перепоступила в университет на программиста – кардинальная смена обстановки и окружения помогли в борьбе с психической зависимостью.
                            </h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    {#    iframe video only#}
    <section id="fh5co-home" data-section="home" data-stellar-background-ratio="0.5">
        <iframe width="100%" height="100%" src="https://www.youtube.com/embed/rDc-ccuAK0I?controls=0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </section>

    {#    h1 h3 on black#}
    <section id="fh5co-home" data-section="home" style="background-image: url({% static 'disorder/images/project-6.jpg' %});" data-stellar-background-ratio="0.5">
        <div class="gradient"></div>
        <div class="container">
            <div class="text-wrap">
                <div class="text-inner">
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2 text-center">
                            <h1 class="to-animate">Триггер. Детство</h1>
                            <h3 class="to-animate">
                                Я росла одна в семье, взаимоотношения между мной и родителями складывались хорошие, меня любили и заботились. Папа – военный, он очень много работал, часто уезжал в командировки. Детская беззаботность продолжалась до момента, пока мне не исполнилось 10 лет. Мама начала гулять, часто уходить из дома, выпивала – эти воспоминания оставили след в моей памяти.
                            </h3>
                            <h3 class="to-animate">
                                <b>С 10-11 лет я была лишена материнского внимания</b>, а папа не мог уделять мне много времени из-за военной службы. Папа начал пропадать по ночам, чтобы разыскивать мать и возвращать её домой. Я оставалась дома с дядей. После этого мы с мамой начали отдаляться. Я рано начала осознавать, что я ей совсем не нужна. Благодаря папе, который проявлял заботу, я пережила этот момент, но, конечно, всё это отразилось на моей психике.
                            </h3>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {#    h1 h3 on black#}
    <section id="fh5co-home" data-section="home" style="background-image: url({% static 'disorder/images/project-6.jpg' %});" data-stellar-background-ratio="0.5">
        <div class="gradient"></div>
        <div class="container">
            <div class="text-wrap">
                <div class="text-inner">
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2 text-center">
                            <h3 class="to-animate">
                                Я была пухленьким ребенком, маме это не нравилось до такой степени, что она отказывалась ходить со мной по магазинам, говоря, что в магазинах нет одежды моего размера. В итоге я активно занялась спортом – бегала всё лето. Начала пить много воды и меньше есть, а позже узнала, что можно пить таблеточки, чтобы сдерживать аппетит. Через какое-то время у меня не осталось сил на спорт – я ничего не ела и очень сильно похудела.
                            </h3>
                            <h3 class="to-animate">
                                Как мне объяснил позже психолог, <b>моя мама не могла принять саму себя из-за своего тяжелого детства, а значит, не могла принять и меня – собственную дочь.</b> Мама заметила, что я похудела, но всё равно что-то не нравилось во мне. Мне тогда очень хотелось ей угодить, но никак не получалось. Она сказала, чтобы я перестала заниматься ерундой и начала нормально питаться.
                                Я снова её послушалась, и начала потихоньку набирать вес.
                            </h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    {#    cardio video only#}
    <section id="fh5co-home" data-section="home">
        <video autoplay="autoplay" loop="loop" width="100%" id="cardiovideo">
            <source src="{% static 'disorder/videos/cardio.mp4' %}" type="video/mp4" />
        </video>
    </section>

    {#    h3 h3 h3 on black#}
    <section id="fh5co-home" data-section="home" style="background-image: url({% static 'disorder/images/project-6.jpg' %});" data-stellar-background-ratio="0.5">
        <div class="gradient"></div>
        <div class="container">
            <div class="text-wrap">
                <div class="text-inner">
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2 text-center">
                            <h3 class="to-animate">
                                В 14-15 лет мы с мамой более-менее начали общаться, но обиду я на неё затаила. Когда в детстве меня спрашивали, кого я люблю больше: папу или маму – мне всегда хотелось сказать, что люблю я только папу.
                            </h3>
                            <h3 class="to-animate">
                                С бабушкой и дедушкой у меня были замечательные взаимоотношения, я ездила к ним на каникулы и хорошо проводила у них время. В школе у меня всегда были друзья, там я познакомилась со своими лучшими подругами. Училась я хорошо, потому что мне было важно нравится папе и маме.
                            </h3>
                            <h3 class="to-animate">
                                Мама любила меня сравнивать с другими: «вот, чья-то дочь – отличница, даже не вздумай приходить с тройкой». <b>Мать не хотела, чтобы я повторила её ошибки:</b> после 9 класса она ушла из школы и не получила высшего образования. Выходит, <b>я вынуждена была исправлять ошибки своей матери.</b>
                            </h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="fh5co-home" data-section="home" style="background-image: url({% static 'disorder/images/project-6.jpg' %});" data-stellar-background-ratio="0.5">
        <div class="gradient"></div>
        <div class="container">
            <div class="text-wrap">
                <div class="text-inner">
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2 text-center">

                            <h3 class="to-animate">
                                Папа не участвовал в моём воспитании: за оценки он меня не ругал и не цеплялся к каждой мелочи. Он рос в хорошей семье: у него были братья и сестры – все друг друга поддерживали. В плане взаимоотношений к людям, он человек простой и очень терпеливый. Маме повезло, что отец снисходительно относился к её особенностям характера. А я не могла этого терпеть, мне хотелось, чтобы моё мнение учитывали.
                            </h3>

                            <h3 class="to-animate">
                                До какого-то момента мне казалось, что в семье так и должно быть, пока я не увидела, как общаются со своими родителями мои сверстники. У моих подруг было всё иначе: им покупали домашних животных, ходили с ними по магазинам, интересовались их жизнью – я была лишена всего сразу.
                            </h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    {#    h3 on white#}
    <section id="fh5co-home" data-section="home" style="background-image: url({% static 'disorder/images/white.jpg' %});" data-stellar-background-ratio="0.5">
        <div class="gradient"></div>
        <div class="container">
            <div class="text-wrap">
                <div class="text-inner">
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2 text-center">
                            <h3 class="to-animate">
                                <b>Проецирование своих желаний на жизни других людей</b> – это защитная реакция психики, которая характеризуется мнимым исполнением своих желаний посредством жизни других людей. Чаще заложниками такой проекции являются дети.
                                Ребёнок становится моделью родителя в детстве, на которую проецируются страхи и тревоги детства одного из родителей, стремясь таким образом побороть их, но уже в своём ребёнке. Это бессознательный процесс, родители искренне думают, что «знают как лучше» и тем самым не наносят вред ребёнку.
                            </h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    {#    h1 h3 on black#}
    <section id="fh5co-home" data-section="home" style="background-image: url({% static 'disorder/images/project-6.jpg' %});" data-stellar-background-ratio="0.5">
        <div class="gradient"></div>
        <div class="container">
            <div class="text-wrap">
                <div class="text-inner">
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2 text-center">
                            <h3 class="to-animate">
                                Когда я перешла в 10 класс, мне начали разрешать гулять подольше, и я почувствовала чуть больше свободы, чем обычно.
                                В этот период у меня появились новые знакомые, я познакомилась с компанией постарше, менялся круг общения.
                            </h3>
                            <h3 class="to-animate">
                                В 17 лет я попробовала алкоголь, начала выпивать, мама часто ругала меня: «нет, ты не пьешь, даже не вздумай возвращаться пьяной домой», а мне хотелось делать ей всё назло. Я видела, что у моих сверстников складывались другие взаимоотношения с родителями – во мне пылало желание уйти туда, где меня будут ценить и принимать такой, какая я есть.
                            </h3>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    {#    h3 on image#}
    <section id="fh5co-home" data-section="home" style="background-image: url({% static 'disorder/images/dilemma.jpg' %});" data-stellar-background-ratio="0.5">
        <div class="gradient"></div>
        <div class="container">
            <div class="text-wrap">
                <div class="text-inner">
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2 text-center">
                            <h3 class="to-animate">
                                Естественно, ребята, которые были старше, повлияли на меня, а мне хотелось им соответствовать.
                                Мама очень злилась, что у меня появились интересы вне стен дома – запрещала гулять, пыталась контролировать каждый мой шаг, запирала меня в комнате.
                            </h3>
                            <h3 class="to-animate">
                                Мне не хотелось сидеть дома, обстановка была очень напряженная, поэтому я сбегала и проявляла интерес к уличной жизни.
                            </h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    {#    h3 on white#}
    <section id="fh5co-home" data-section="home" style="background-image: url({% static 'disorder/images/white.jpg' %});" data-stellar-background-ratio="0.5">
        <div class="gradient"></div>
        <div class="container">
            <div class="text-wrap">
                <div class="text-inner">
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2 text-center">
                            <h3 class="to-animate">
                                По мнению психологов, желание ребёнка убежать из дома может быть спровоцировано разными причинами: жажда приключений, неблагоприятная обстановке в семье, давление со стороны родителей. Негативная реакция только усугубит ситуацию и подогреет желание изолироваться от семьи.
                            </h3>
                            <h3 class="to-animate">
                                <b>«Гиперопека» – одна из причин, из-за которой ребёнку захочется проводить с родителями меньше времени.</b> Для подростка чрезмерная предосторожность равноценна недоверию со стороны родителя и несерьёзному отношению к его способностям. Забота и гиперопека проявляются по-разному: в первом случае ребёнок чувствует защиту, во втором – унижение.
                            </h3>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    {#    title + video#}
    <section id="fh5co-home" data-section="home">
        <h2 class="to-animate" style="position: absolute; z-index: 2; left: 10%; top:30%;">
            ТУДА, ГДЕ МЕНЯ БУДУТ ЦЕНИТЬ И ПРИНИМАТЬ ТАКОЙ, КАКАЯ Я ЕСТЬ
        </h2>
        <video muted autoplay="autoplay" loop="loop" width="100%" id="manicure">
            <source src="{% static 'disorder/videos/manicure.mp4' %}" type="video/mp4" />
        </video>


        {#    h1 h3 on black#}
        <section id="fh5co-home" data-section="home" style="background-image: url({% static 'disorder/images/project-6.jpg' %});" data-stellar-background-ratio="0.5">
            <div class="gradient"></div>
            <div class="container">
                <div class="text-wrap">
                    <div class="text-inner">
                        <div class="row">
                            <div class="col-md-8 col-md-offset-2 text-center">
                                <h1 class="to-animate">Эмоциональное возмещение. Наркотики</h1>
                                <h3 class="to-animate">Моей маме не нравились мои друзья, она начала запрещать мне гулять, видеться с ними и всячески критиковала мой выбор.
                                    <b>Я думала: «как это так, почему она мне всё запрещает, почему ей всё во мне не нравится», – мне хотелось всегда чем-нибудь залить эту обиду.</b>
                                    Сначала это были обычные тусовки, где все немного выпивали. Потом я начала более серьёзно увлекаться алкоголем – под его действием становилось легче и получалось по-другому смотреть на проблемы. Когда я переехала в другой город для поступления в университет, связь с родителями окончательно оборвалась.</h3>
                                <h3 class="to-animate">Новая компания и свобода внесли свою лепту: я попробовала наркотики и поняла, что они намного лучше алкоголя. Употребляла я синтетические вещества, они очень сильно влияли на мою психику и личность в целом.</h3>
                                <h3 class="to-animate">После 3-4 раза употребления, у меня развилась зависимость на физическом уровне, эмоционально я от наркотиков стала зависима ещё раньше.</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        {#    fog video only#}
        <section id="fh5co-home" data-section="home">
            <video muted autoplay="autoplay" loop="loop" width="100%" id="fogvideo">
                <source src="{% static 'disorder/videos/fog.mp4' %}" type="video/mp4" />
            </video>
        </section>

        {#    h1 h3 on black#}
        <section id="fh5co-home" data-section="home" style="background-image: url({% static 'disorder/images/project-6.jpg' %});" data-stellar-background-ratio="0.5">
            <div class="gradient"></div>
            <div class="container">
                <div class="text-wrap">
                    <div class="text-inner">
                        <div class="row">
                            <div class="col-md-8 col-md-offset-2 text-center">
                                <h3 class="to-animate">
                                    Мир вокруг изменился: я иначе начала воспринимать людей вокруг, обстоятельства, свою личность. Стало неинтересно учиться, не хотелось лишний раз звонить родителям, единственное, что я хотела – не думать о проблемах и «кайфовать». Наркотики стали для меня лекарством, мне даже в голову не могло прийти, что меня могут остановить полицейские и арестовать, или что со мной что-то случится в наркотическом состоянии.
                                </h3>
                                <h2 class="to-animate">Думала я лишь о том, что мне в таком состоянии намного лучше.</h2>
                                <h3 class="to-animate">
                                    <b>Наркотическая зависимость очень быстро развилась.</b> С компанией «соупотребителей» мы начали воровать из магазинов, если у меня или у моих знакомых было что-то дома (украшения или золото), мы шли и сдавали это в ломбард. На вырученные деньги покупали наркотики. Через месяц употребления у меня поменялось сознание и личностное восприятие, сузился круг общения – остались только те, кто употреблял вместе со мной.
                                </h3>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        {#    h1 h3 on black#}
        <section id="fh5co-home" data-section="home" style="background-image: url({% static 'disorder/images/project-6.jpg' %});" data-stellar-background-ratio="0.5">
            <div class="gradient"></div>
            <div class="container">
                <div class="text-wrap">
                    <div class="text-inner">
                        <div class="row">
                            <div class="col-md-8 col-md-offset-2 text-center">
                                <h1 class="to-animate">Переломный момент</h1>
                                <h3 class="to-animate">
                                    Я забрала документы из университета и вернулась домой – на учёбу мне стало всё равно. Когда ты в активном употреблении, тебя ничего не волнует. Университет и пары мешали моему образу жизни – был пик, когда я употребляла каждый день, тогда меня совсем не волновало происходящее вокруг. По приезде домой, родители устроили мне истерику, но я так хорошо врала, что конфликт был исчерпан. <b>Под наркотиками мыслительный процесс очень активен: ты становишься мастером всех обманывать, что-то придумывать, воображать.</b> Я врала, чтобы меня оставили в покое. Мне всё сошло с рук.
                                </h3>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>


        {#    h3 on image#}
        <section id="fh5co-home" data-section="home" style="background-image: url({% static 'disorder/images/marionette.jpg' %});" data-stellar-background-ratio="0.5">
            <div class="gradient"></div>
            <div class="container">
                <div class="text-wrap">
                    <div class="text-inner">
                        <div class="row">
                            <div class="col-md-8 col-md-offset-2 text-center">
                                <h3 class="to-animate">
                                    Я решила попробовать завязать. Недели две это было безуспешно, потом я начала злоупотреблять алкоголем – это было дешевле и легально. Моя зависимость никуда не делась. Конечно, с наркотической зависимости она перешла в алкогольную зависимость, но я меньше начала наносить вред своему здоровью. Алкоголь не так сильно разрушал меня и моё тело, как наркотики.
                                </h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>


        {#    h1 h3 on black#}
        <section id="fh5co-home" data-section="home" style="background-image: url({% static 'disorder/images/project-6.jpg' %});" data-stellar-background-ratio="0.5">
            <div class="gradient"></div>
            <div class="container">
                <div class="text-wrap">
                    <div class="text-inner">
                        <div class="row">
                            <div class="col-md-8 col-md-offset-2 text-center">
                                <h1 class="to-animate">Принятие. Группа спасения</h1>
                                <h3 class="to-animate">
                                    В Санкт-Петербург я переехала, когда злоупотребляла алкоголем, но я была зависима, так или иначе. Друг (бывший «соупотребитель»), вернувшись из клиники, рассказал об анонимных сообществах, куда ходят люди с зависимостью.
                                    У меня не было выбора, я осталась совсем одна, а сама себе помочь уже не могла. <b>Первое время, я ходила на группы по 3-4 раза в неделю, потом чуть реже, сегодня я их уже не посещаю, но поддерживаю контакт с «анонимами».</b>
                                </h3>
                                <h3 class="to-animate">
                                    На тренингах нам рассказывали, что зависимость – это болезнь, которая выражает себя как на физическом, так и на эмоциональном плане. Она затрагивает всего человека. Мне помогли увидеть проблему не в самой зависимости или в факте употребления наркотиков, а в причинах, которые это всё спровоцировали.
                                    <b>Я задала себя вопрос: «почему мне хочется употреблять наркотики?»</b>
                                </h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        {#    h1 h3 on black#}
        <section id="fh5co-home" data-section="home" style="background-image: url({% static 'disorder/images/project-6.jpg' %});" data-stellar-background-ratio="0.5">
            <div class="gradient"></div>
            <div class="container">
                <div class="text-wrap">
                    <div class="text-inner">
                        <div class="row">
                            <div class="col-md-8 col-md-offset-2 text-center">
                                <h3 class="to-animate">На группах нас заставляли анализировать свою жизнь и свои поступки. Осознание проблемы помогло мне объяснить своё собственное поведение. Я хотела злоупотреблять от того, что дома была неблагоприятная обстановка. Родители меня любили, но уважение и понимание с их стороны отсутствовали, <b>мне хотелось заполнить душевную пустоту, быть привязанной хоть к кому-нибудь – и я привязалась к наркотикам.</b></h3>
                                <h3 class="to-animate">В сообществе анонимных наркоманов я познакомилась со многими людьми, у которых была своя «история употребления». Их рассказы меня вдохновляли и вдохновляют сейчас. Я поняла, что можно жить иначе – если кто-то смог, то и я смогу.</h3>
                                <h3 class="to-animate">Я ходила к психологу некоторое время: рассказывала, в основном, о своей матери и своём детстве. Психолог отметила, что моя мать не до конца выполняла свои «материнские функции».
                                    Её частые уходы из дома и отсутствие интереса к моей персоне создали «историю моей зависимости».</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        {#    h3 on white#}
        <section id="fh5co-home" data-section="home" style="background-image: url({% static 'disorder/images/white.jpg' %});" data-stellar-background-ratio="0.5">
            <div class="gradient"></div>
            <div class="container">
                <div class="text-wrap">
                    <div class="text-inner">
                        <div class="row">
                            <div class="col-md-8 col-md-offset-2 text-center">
                                <h3 class="to-animate">
                                    <b>Наркотической зависимости в чистом виде не бывает</b> – это всегда либо зависимость от эмоций, которые человек испытывает под наркотическими веществами, либо попытка заглушить свои эмоции, которые человека беспокоят. Одно вытекает из другого, только в первом случае реальность перестаёт быть интересной, а во втором – реальность становится невыносимой.
                                    Существует физическая зависимость от наркотиков как следствие эмоциональной зависимости.
                                </h3>
                                <h3 class="to-animate">
                                    Находясь среди людей, которые справляются со своей зависимостью, ты чувствуешь ответственность не только перед собой, но и перед всеми, кто находится вокруг тебя. Каждый человек в группе верит, что у тебя обязательно всё получится.
                                    <b>Главное правило:</b> «если человек пришёл в группу, он должен хотеть избавиться от зависимости, иначе у него ничего не выйдет».
                                </h3>
                                <h3 class="to-animate">
                                    Наркотики могут стать причиной страшных заболеваний: от ВИЧ-инфекции до серьезных психических нарушений. Синтетические наркотики сильно воздействуют на психику – могут возникнуть галлюцинации, которые сведут человека с ума.
                                    Я лично общалась с людьми, которые в результате активного употребления лежали в психиатрической больнице, где лечились не только от зависимости, но и от приобретённой психической патологии.
                                </h3>


                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        {#    title + video#}
        <section id="fh5co-home" data-section="home">
            <h1 class="to-animate" style="position: absolute; z-index: 2; text-align: center; top:30%;">
                Под наркотиками изменяется восприятие реальности, нарушается работа мозга и человек перестаёт ощущать себя.
            </h1>
            <video muted autoplay="autoplay" loop="loop" width="100%" id="flowers">
                <source src="{% static 'disorder/videos/flowers.mp4' %}" type="video/mp4" />
            </video>
        </section>


        {#    h3 on white#}
        <section id="fh5co-home" data-section="home" style="background-image: url({% static 'disorder/images/white.jpg' %});" data-stellar-background-ratio="0.5">
            <div class="gradient"></div>
            <div class="container">
                <div class="text-wrap">
                    <div class="text-inner">
                        <div class="row">
                            <div class="col-md-8 col-md-offset-2 text-center">
                                <h1 class="to-animate">
                                    Мои 12 шагов
                                </h1>
                                <h3 class="to-animate">
                                    Бывших наркоманов не бывает, но если верить лозунгам группы и продолжать соблюдать духовный баланс: любить себя и общаться с людьми, которые не зависимы, то ремиссия может быть длительной.
                                </h3>
                                <h3 class="to-animate">
                                    Группа – это не просто словесная терапия. Существует программа «12 шагов» – в ней много разделов, в которых по несколько вопросов, направленных на анализ собственных поступков и своей личности.
                                    Задается определенная тема, которая всех волнует, каждый по кругу делится собственным опытом. Для кого-то это служит поводом высказаться, а кому-то чужой опыт помогает определиться и мотивирует на борьбу с собственной зависимостью.
                                    Вопросы, которые я помню, касаются отношения к себе: «какие проблемы со здоровьем у тебя начались во время зависимости?».
                                </h3>
                                <h3 class="to-animate">
                                    Я отвечала на вопросы, прописывала свои ответы и всё больше осознавала, что мне это не нужно.
                                </h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section id="fh5co-home" data-section="home" style="background-image: url({% static 'disorder/images/white.jpg' %});" data-stellar-background-ratio="0.5">
            <div class="gradient"></div>
            <div class="container">
                <div class="text-wrap">
                    <div class="text-inner">
                        <div class="row">
                            <div class="col-md-8 col-md-offset-2 text-center">
                                <h3 class="to-animate">
                                    <b>На сегодняшний день я больше не употребляю.</b>
                                    Живу в Санкт-Петербурге, начала учиться для себя, а не для родителей: осваиваю программирование и познаю себя в этой жизни. У меня появляется интерес к происходящему вокруг и меня это очень радует. Взаимоотношения с родителями – стабильные, но не такие, какие бы хотелось иметь.
                                    <i>Я осознала, что свою маму я уже не поменяю. У неё свои жизненные принципы, и мне нужно это просто принять. Больше я на неё не держу зла.</i>
                                    Любую боль можно пережить без наркотиков и алкоголя, если ты знаешь, что именно тебе может помочь или рядом есть люди, которые готовы тебя поддержать. Если человек один, он воспользуется, скорей всего, банальной помощью: наркотики или алкоголь.
                                    Иногда я выпиваю, конечно, но не допускаю возвращения к старым привычкам. Стараюсь свести к минимуму общение с другом (бывшим «соупотребителем»), и как можно прочнее закрепиться за своим новым образом жизни.
                                </h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>























{#    ending on white#}
    <section id="fh5co-home" data-section="home" style="background-image: url({% static 'disorder/images/white.jpg' %});" data-stellar-background-ratio="0.5">
        <div class="gradient"></div>
        <div class="container">
            <div class="text-wrap">
                <div class="text-inner">
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2 text-center">
                            <h3 class="to-animate">
                                «Лечение от наркотической зависимости – это общение с психологами и изучение своего внутреннего состояния, изучение своих эмоций и проблем»
                            </h3>
                            <h3 class="to-animate">
                                <b>Татьяна, 21 год
                                    Диагноз: психическая (наркотическая) зависимость
                                    Ремиссия: 2,5 года</b>
                            </h3>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{#    go back#}
        <div>
            <a href="/#corridorofchoice"><div id='goback'><h1 id="backtolink">Вернуться в корридор</h1></div></a>
            <video autoplay="autoplay" loop="loop" muted width="100%">
                <source src="{% static 'disorder/videos/gobackcorridor.mp4' %}" type="video/mp4" />
            </video>
        </div>





{% endblock %}