{% extends 'base.html' %}
{% load static %}
{% block content %}
{#    DIAGNOSIS#}
    <section id="fh5co-home" data-section="home" style="background-image: url({% static 'disorder/images/project-6.jpg' %});" data-stellar-background-ratio="0.5">
        <div class="gradient"></div>
        <div class="container">
            <div class="text-wrap">
                <div class="text-inner">
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2 text-center">
                            <h1 class="to-animate">ШИЗОФРЕНИЯ</h1>
                            <h2 class="to-animate">
                                Функциональное расстройство головного мозга (ментальное расстройство). Человек с такой патологией искаженно воспринимает действительность, теряет связь с реальностью. Происходит частичное расщепление его личности. Как правило, в таком состоянии сложно рассуждать объективно и вести любой мыслительный процесс.
                            </h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    {#    h1 h4 h4 on black#}
    <section id="fh5co-home" data-section="home" style="background-image: url({% static 'disorder/images/project-6.jpg' %});" data-stellar-background-ratio="0.5">
        <div class="gradient"></div>
        <div class="container">
            <div class="text-wrap">
                <div class="text-inner">
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2 text-center">

                            <h3 class="to-animate">
                                По статистике, развитие болезни приходится на возраст от 18 до 25 лет, расстройство принято считать хронической патологией с временными ремиссиями. По всему миру 1% людей болеют шизофренией, чаще этому заболеванию подвержены женщины, в 70% психическое нарушение имеет наследственный характер.
                            </h3>

                            <h3 class="to-animate">
                                Главным симптомом шизофрении являются галлюцинации: человек может видеть образы, которых на самом деле не существует, слышит голоса в голове, происходит дезориентация в пространстве. Симптомы должны проявлять себя не менее одного месяца, важно учесть, что и при других психических расстройствах, действительность пациентом воспринимается искаженно, могут возникать как слуховые, так и зрительные галлюцинации. Для постановки точного диагноза, врач-психиатр длительное время диагностирует пациента.
                            </h3>
                            <h3 class="to-animate">
                                Люди, страдающие шизофренией, как правило с раннего возраста подвергались стрессовым факторам: обстановка в семье или неуважительное отношение со стороны окружающих (буллинг). Нарушение психического фона частично может быть результатом социальной дезориентации. Если в семье кто-то страдал расстройством, вероятность развития патологии под воздействием психотравмирующих ситуаций увеличивается.
                            </h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    {#    2 h2 texts on black#}
    <section id="fh5co-home" data-section="home" style="background-image: url({% static 'disorder/images/project-6.jpg' %});" data-stellar-background-ratio="0.5">
        <div class="gradient"></div>
        <div class="container">
            <div class="text-wrap">
                <div class="text-inner">
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2 text-center">
                            <h2 class="to-animate">
                                «Если в человеке собралось слишком много мыслей, чувств, ощущений и знаний, с которыми его личность уже не может справиться, ему хочется все это переложить на что-то другое, что находится вне этого «Я»».
                            </h2>
                            <h2 class="to-animate">
                                <b>Цитата из книги: «Завтра я всегда была львом».
                                    Автор: Арнхильд Лаувенг</b>
                            </h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    {#    image with no text#}
    <section id="fh5co-home" data-section="home" style="background-image: url({% static 'disorder/images/olga.png' %});" data-stellar-background-ratio="0.5">
        <div class="gradient"></div>
        <div class="container">
            <div class="text-wrap">
                <div class="text-inner">
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2 text-center">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    {#    h1 h3 on white#}
    <section id="fh5co-home" data-section="home" style="background-image: url({% static 'disorder/images/white.jpg' %});" data-stellar-background-ratio="0.5">
        <div class="gradient"></div>
        <div class="container">
            <div class="text-wrap">
                <div class="text-inner">
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2 text-center">
                            <h1 class="to-animate">От личной трагедии до смысла</h1>
                            <h3 class="to-animate">
                                Ментальное нарушение – это всегда трагедия в душе человека, никто не виноват в том, что нервная система дала сбой, а внешние факторы повлияли на развитие заболевания. Человек не по собственной воле становится не таким, как все. Не по своей воле он теряет ощущение жизни, ощущение самого себя и окружающей действительности.
                            </h3>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="fh5co-home" data-section="home" style="background-image: url({% static 'disorder/images/white.jpg' %});" data-stellar-background-ratio="0.5">
        <div class="gradient"></div>
        <div class="container">
            <div class="text-wrap">
                <div class="text-inner">
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2 text-center">
                            <h3 class="to-animate">
                                Героиня Юлия (имя изменено) оказалась в плену своего психического нарушения, но именно это заточение помогло ей сформироваться как личность сегодня, как женщина, которая знает, что она хочет от жизни.
                                Принятие себя стало выходом из темноты, выходом из плена собственных страхов и запутанных мыслей.
                            </h3>
                            <h3 class="to-animate">
                                Сегодня Юлии 45 лет, она живёт за пределами Санкт-Петербурга, в Пушкине, надеясь снова и снова на длительную ремиссию. В её жизни, помимо заболевания, есть и другие значимые вещи, которые её характеризуют: любимая работа, тяга к искусству, многочисленные хобби и любимая мать, за которой Юлия ежедневно ухаживает.
                            </h3>
                            <h3 class="to-animate">
                                Героиня является примером борьбы с самим собой, борьба не против себя – это битва за право на полноценную жизнь и деятельность.
                            </h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    {#    iframe video only#}
    <section id="fh5co-home" data-section="home" data-stellar-background-ratio="0.5">
        <iframe width="100%" height="100%" src="https://www.youtube.com/embed/sBHrnJxQwy8?controls=0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </section>

    {#    h1 h3 on black#}
    <section id="fh5co-home" data-section="home" style="background-image: url({% static 'disorder/images/project-6.jpg' %});" data-stellar-background-ratio="0.5">
        <div class="gradient"></div>
        <div class="container">
            <div class="text-wrap">
                <div class="text-inner">
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2 text-center">
                            <h1 class="to-animate">Триггер</h1>
                            <h4 class="to-animate">
                                Первый раз я попала в больницу, когда мне было 14 лет, тогда у меня была запущенная форма анорексии, но врачи поставили диагноз – акцентуация личности. Я сломалась после психиатрической клиники, для меня пребывание в учреждении стало личной трагедией, с которой я пыталась справиться.
                            </h4>
                            <h4 class="to-animate">
                                Лекарства, которые я начала принимать, меня сильно затормозили – я перешла на дистанционное обучение. Мне было сложно разобрать написанное в учебниках, поэтому мой дедушка конспектировал параграфы, а я, привыкшая к его манере письма и почерку, переписывала написанное им в свою тетрадь. Так я пыталась хвататься за свою жизнь, за полноценную жизнь.
                            </h4>
                            <h4 class="to-animate">
                                На развитие заболевания повлияли частые конфликты с родителями и недопонимание с их стороны. Также смерть любимой собаки вывела меня из равновесия. Я считаю, что необходимо уделять особое внимание детям, избегать возникновения психических травм, которые могут привести ребенка к психическим расстройствам в будущем.
                            </h4>
                            <h4 class="to-animate">
                                Когда общалась со своими сверстниками, у меня внутри сидела мысль: «они не знают, что это такое». Казалось, меня никто не способен понять, сама себя я тоже переставала осознавать. Я держала всё в себе первое время, никогда ни с кем об этом не говорила, хотя мне всегда хотелось выплеснуть эту боль наружу.
                            </h4>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    {#    h3 on white#}
    <section id="fh5co-home" data-section="home" style="background-image: url({% static 'disorder/images/white.jpg' %});" data-stellar-background-ratio="0.5">
        <div class="gradient"></div>
        <div class="container">
            <div class="text-wrap">
                <div class="text-inner">
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2 text-center">
                            <h3 class="to-animate">
                                <b>Триггер – это термин впервые был использован в психиатрии</b>, сегодня под ним принято понимать точку отсчёта или «спусковой крючок», событие или действие, послужившее причиной развития или обострения недуга.
                                Психические нарушения (ментальные нарушения) – чаще становятся последствием проблем, которые когда-то вторглись в жизнь человека.
                            </h3>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    {#    cardio video only#}
    <section id="fh5co-home" data-section="home">
        <video autoplay="autoplay" loop="loop" width="100%" id="cardiovideo">
            <source src="{% static 'disorder/videos/cardio.mp4' %}" type="video/mp4" />
        </video>
    </section>

    {#    h1 h4 h4 on black#}
    <section id="fh5co-home" data-section="home" style="background-image: url({% static 'disorder/images/project-6.jpg' %});" data-stellar-background-ratio="0.5">
        <div class="gradient"></div>
        <div class="container">
            <div class="text-wrap">
                <div class="text-inner">
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2 text-center">
                            <h1 class="to-animate">Развитие. Переутомление</h1>

                            <h4 class="to-animate">
                                Второй раз я попала в больницу в 17-18 лет, тогда мне поставили диагноз – МДП (маниакально – депрессивный психоз или биполярное расстройство).
                                Всё происходило на фоне переутомления – я не спала несколько ночей подряд и готовилась усердно к экзамену для поступления в колледж. После первой госпитализации моя успеваемость снизилась – многое было упущено, а мне очень хотелось дальше получать образование. Мама не обратила внимания на то, что я не сплю одну ночь, не сплю вторую ночь, не сплю третью ночь.
                            </h4>

                            <h4 class="to-animate">
                                Потом у меня съехала крыша. Выражалось все состоянием эйфории – это состояние схоже с состоянием влюбленности, только намного мощнее. Я начала представлять себя другой личностью, знаменитой личностью. И вела я себя как личность, которую представляла. Я не считаю, что это был способ убежать от себя, поскольку личность, которой я себя мнила, не была моим идеалом или авторитетом.
                                Это просто сход с ума. Человек не осознаёт ничего, когда он влетает в это состояние по максимуму, он становится одержимым.
                            </h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    {#    h3 on white#}
    <section id="fh5co-home" data-section="home" style="background-image: url({% static 'disorder/images/white.jpg' %});" data-stellar-background-ratio="0.5">
        <div class="gradient"></div>
        <div class="container">
            <div class="text-wrap">
                <div class="text-inner">
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2 text-center">
                            <h3 class="to-animate">
                                <b>По мнению психиатра Лилии Балашовой, такое состояние принято называть психозом.</b> Психоз – это причина эндогенного шизофренического процесса, для которого характерны изменения в речи и поведении человека. Психотическое состояние служит сигналом тому, что психическое состояние человека дало сбой и ему необходима психиатрическая помощь.
                                Некоторые специалисты объясняют такое поведение желанием уйти в другую среду (другую личность) от проблем или травмирующих ситуаций.
                                <b>В России около 40% людей страдают психическими нарушениями</b>, в современных условиях стрессовые ситуации могут послужить началом развития патологий. Нарушения можно не замечать годами, списывая всё на переутомление или недосып.
                                «Необходимо заботиться о своём ментальном здоровье не меньше, чем о физическом».
                            </h3>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    {#    h3 on black#}
    <section id="fh5co-home" data-section="home" style="background-image: url({% static 'disorder/images/project-6.jpg' %});" data-stellar-background-ratio="0.5">
        <div class="gradient"></div>
        <div class="container">
            <div class="text-wrap">
                <div class="text-inner">
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2 text-center">
                            <h4 class="to-animate">
                                Я стала одеваться по-другому: странное сочетание цветов, многочисленные кофты, яркие цвета – было видно, что со мной не всё в порядке. Было такое, что я еду в автобусе и вслух что-то говорю, с кем-то несуществующим разговариваю. В итоге, дома заметили изменения в моём поведении, родители вызвали скорую психиатрическую помощь (мне всегда вызывали её тайком), приехали санитары и меня госпитализировали.
                                Ситуация того требовала. Если человек сошёл с ума – его нужно привести в норму.
                            </h4>
                            <h3 class="to-animate">
                                В этот раз мне поставили диагноз – шизофрения.
                            </h3>
                            <h4 class="to-animate">
                                В период с 20 до 30 лет у меня были частые госпитализации. Какие-то воспоминания стёрлись, но многое я помню. В это время не было ещё никаких реабилитационных клубов, поэтому после больницы приходилось восстанавливаться самостоятельно. Это было очень сложно.
                                Сегодня при некоторых психиатрических больницах существуют мастерские, тренажерные залы, благодаря такому пациент отвлекается от своих страхов и мыслей о своём заболевании, также это помогает в дальнейшей социализации после учреждения.
                                Мне тогда помогла прийти в себя цель, которую я перед собой поставила: заниматься саморазвитием и изучать различные сферы деятельности. Так я начала учиться наслаждаться жизнью. После больницы круг общения, конечно, менялся, но появлялись подруги, с которыми я продолжала общаться и дальше.
                                Полностью адаптироваться в обществе после учреждений всё-таки сложно, несмотря на реабилитационные центры и различные клубы.
                            </h4>
                            <h3 class="to-animate">
                                Мысль, что ты чем-то отличаешься от других, съедает.
                            </h3>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    {#    title + gunshot video#}
    <section id="fh5co-home" data-section="home">
        <h1 class="to-animate" style="position: absolute; z-index: 2; text-align: center; top:30%;" >
            <b>Я пью таблетки больше 10 лет, как-то мой лечащий врач сказал мне: «таблетки – это твой хлеб»
                Не знаю, что было бы со мной без медикаментозной терапии.</b>

            «Таблетки – это не панацея, но, если человек не хочет их пить, отказаться от них разумней на начальном этапе лечения».
        </h1>
        <video loop autoplay width="100%" id="pillfall" muted>
            <source src="{% static 'disorder/videos/pillfall.mp4' %}" type="video/mp4" />
        </video>
    </section>


    {#    h1 h3 on black#}
    <section id="fh5co-home" data-section="home" style="background-image: url({% static 'disorder/images/project-6.jpg' %});" data-stellar-background-ratio="0.5">
        <div class="gradient"></div>
        <div class="container">
            <div class="text-wrap">
                <div class="text-inner">
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2 text-center">
                            <h1 class="to-animate">Лечение</h1>
                            <h4 class="to-animate">
                                Прошло много лет после того, как диагноз был поставлен – сейчас я могу контролировать своё состояние и чувствовать, когда наступает обострение. Когда у меня возникают пограничные состояния, я стараюсь больше спать и увеличивать дозировку медикаментов.
                                Состояние, близкое к психозу, начинается «очень интересно»: я начинаю по-другому воспринимать окружающую действительность: прислушиваюсь к людям в общественных местах, становится важно, о чем они говорят, чаще кажется, что говорят они обо мне.
                            </h4>
                            <h4 class="to-animate">
                                Я чувствую, что начинается что-то ненормальное, сама себе говорю: «Юля, ты видишь, что это ненормально, ты видишь, что это симптом твоего заболевания», – это мне помогает не поддаваться своему расстройству.
                                Без таблеток я уже не смогу. Биохимия моего мозга под воздействием психотропных препаратов меняется, если я прекращу медикаментозное лечение, случится рецидив.
                            </h4>
                            <h4 class="to-animate">
                                Когда я была в больнице, моё лечение состояло из таблеток, уколов, терапии. Дозы иногда были смертельно опасные. Например, в день мне давали 22 таблетки (название препарата не уточняется) – это полтюбика таблеток. Организм как-то справлялся. Конечно, всё контролировалось, но мог случиться летальный исход.
                            </h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="fh5co-home" data-section="home" style="background-image: url({% static 'disorder/images/project-6.jpg' %});" data-stellar-background-ratio="0.5">
        <div class="gradient"></div>
        <div class="container">
            <div class="text-wrap">
                <div class="text-inner">
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2 text-center">
                            <h4 class="to-animate">
                                Когда я была в больнице, моё лечение состояло из таблеток, уколов, терапии. Дозы иногда были смертельно опасные. Например, в день мне давали 22 таблетки (название препарата не уточняется) – это полтюбика таблеток. Организм как-то справлялся. Конечно, всё контролировалось, но мог случиться летальный исход.
                            </h4>
                            <h4 class="to-animate">
                                Лечащие врачи менялись: у меня их было очень много. Большинство врачей пытались меня понять, понять моё состояние на тот момент. Задавали наводящие вопросы, спрашивали какой сегодня год, какой день, что случилось со мной. Пациент же всё равно что-то отвечает, далеко не у всех нарушено мышление, даже в обрывках фраз можно уловить смысл, главное – слушать человека.
                                Я, например, говорила связно, абсолютно нормально. Также врач говорил с родственниками. После этого сопоставлял, что говорила ему я и что сказали родственники, тогда уже становится видна общая картина. Это часть диагностики.
                                Госпитализация происходит в том случае, если человек становится опасен для общества. Например, голоса в голове могут говорить всё, что угодно, под этих воздействием человек может делать тоже всё, что угодно. Всем знакомо состояние, когда сознание прокручивает какую-то мысль, но с голосами иначе – это внутренний конфликт в человеке.
                            </h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    {#    h3 on white#}
    <section id="fh5co-home" data-section="home" style="background-image: url({% static 'disorder/images/white.jpg' %});" data-stellar-background-ratio="0.5">
        <div class="gradient"></div>
        <div class="container">
            <div class="text-wrap">
                <div class="text-inner">
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2 text-center">
                            <h3 class="to-animate">
                                <b>«Симптом – своего рода язык, который иногда может помочь безъязыкому.</b>
                                Зачастую симптомы связаны с тем, что человек лишился других возможностей выражать свои потребности и потому пользуется единственным доступным способом».
                            </h3>
                            <h3 class="to-animate">
                                <b>Галлюцинации – это всегда субъективный фактор в период диагностики больного.</b> Чаще симптом шифрует причины развития заболевания и нарушений мышления. Своеобразный способ нашей психики «просить о помощи», сигнализировать о проблеме. Один и тот же симптом у пациентов может выполнять различные функции и иметь разный смысл.
                            </h3>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    {#    h1 h3 on black#}
    <section id="fh5co-home" data-section="home" style="background-image: url({% static 'disorder/images/project-6.jpg' %});" data-stellar-background-ratio="0.5">
        <div class="gradient"></div>
        <div class="container">
            <div class="text-wrap">
                <div class="text-inner">
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2 text-center">
                            <h1 class="to-animate">Принятие</h1>
                            <h2 class="to-animate">
                                Я считаю, что к врачам необходимо обращаться – не нужно этого стесняться или бояться. Когда ты первый раз придёшь на приём, никто тебе сразу не будет ставить диагноз или ставить на учёт в диспансер. Часто бывает, что препараты, не подходят пациенту, тогда врач рекомендует другие препараты – это происходит, пока ты не почувствуешь себя лучше.
                                Это не кратковременный диалог с врачом и не моментальная помощь, нужно быть готовым к длительной диагностике и содействию своему лечащему врачу.
                            </h2>
                            <h3 class="to-animate">
                                Наше общество считает, что психиатрическая больница – это клеймо, а люди с психическими проблемами – дураки.
                            </h3>
                            <h3 class="to-animate">
                                Всё зависит от нашего личного восприятия, если для человека это клеймо, то оно так и будет. Нужно менять своё внутреннее восприятие, я считаю.
                                Оно влияет на восприятие нас окружающими людьми. Изменение отношения больных к самим себе ведёт к изменению отношения общества к самим больным. <b>Пока я не освободилась от диагноза, у меня не получалось нормально жить.</b>
                                Я ставила и ставлю перед собой цели, у меня появляются новые увлечения и обязанности, новые знакомые и новые интересы – я сошла с пути деградации, выбрав путь развития, путь «борьбы». Я не поддалась своему расстройству.
                            </h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>






{#    ending on white#}
    <section id="fh5co-home" data-section="home" style="background-image: url({% static 'disorder/images/white.jpg' %});" data-stellar-background-ratio="0.5">
        <div class="gradient"></div>
        <div class="container">
            <div class="text-wrap">
                <div class="text-inner">
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2 text-center">
                            <h3 class="to-animate">
                                <b>«Диагноз – это не приговор»</b>
                                «Только с таким настроем можно научиться жить с любым диагнозом: онкология или психиатрия – нужно менять свой подход к любым трудностям. Как мы сами себя воспринимаем, так нас воспринимают и другие люди».
                            </h3>
                            <h3 class="to-animate">
                                <b>Юлия, 45 лет
                                    Диагноз: шизофрения
                                    Ремиссия: 2 года
                                </b>
                            </h3>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{#    go back#}
    <div>
        <a href="/#corridorofchoice"><div id='goback'><h1 id="backtolink">Вернуться в корридор</h1></div></a>
        <video autoplay="autoplay" loop="loop" muted width="100%">
            <source src="{% static 'disorder/videos/gobackcorridor.mp4' %}" type="video/mp4" />
        </video>
    </div>
{% endblock %}