{% extends 'base.html' %}
{% load static %}
{% block content %}
    {#    h3 on image#}
    <section id="fh5co-home" data-section="home" style="background-image: url({% static 'disorder/images/flamingo.jpg' %});" data-stellar-background-ratio="0.5">
        <div class="gradient"></div>
        <div class="container">
            <div class="text-wrap">
                <div class="text-inner">
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2 text-center">
                            <h4 class="to-animate">
                                ФЛАМИНГО - СИМВОЛ ИСПОЛНЕНИЯ ЖЕЛАНИЙ
                            </h4>
                            <h1 class="to-animate">
                                Стойкость и возрождение. Надежда и любовь
                            </h1>
                            <h3 class="to-animate">
                                Фламинго происходит от латинского слова «flamma», что означает «пламя». Огненный аспект в символике фламинго перекликается с символикой птицы Феникс, которая сгорает в огне и возрождается из пепла.
                                Розовый цвет ассоциируется с любовью и надеждой.
                            </h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    {#    h3 on image#}
    <section id="fh5co-home" data-section="home" style="background-image: url({% static 'disorder/images/grass.jpg' %});" data-stellar-background-ratio="0.5">
        <div class="gradient"></div>
        <div class="container">
            <div class="text-wrap">
                <div class="text-inner">
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2 text-center">
                            <h2 class="to-animate">
                                Стигматизации как фактор испорченной идентичности
                                Клеймо позора
                            </h2>
                            <h3 class="to-animate">
                                Сегодня существует множество социальных групп, образование которых происходит по самым разным признакам и причинам. Признаками выступают внешние факторы: характер, внешний вид, поведение человека. Причины же могут возникать по желанию самого индивида, также инициатором может стать само общество.
                            </h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    {#    h3 on image#}
    <section id="fh5co-home" data-section="home" style="background-image: url({% static 'disorder/images/pink.jpg' %});" data-stellar-background-ratio="0.5">
        <div class="gradient"></div>
        <div class="container">
            <div class="text-wrap">
                <div class="text-inner">
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2 text-center">
                            <h3 class="to-animate">
                                Природа социальной стигматизации берёт своё начало с Древней Греции, где несоответствие общепринятым нормам выжигалось на теле «лишнего человека» – такой отпечаток называли «клеймом». Знаки украшали тела рабов, преступников и изменников, приписывая им ряд характерных черт и определенную модель поведения. В результате чего, такие люди становились изгоями. Визуальная подсказка стала своеобразным символом для греков – так сформировался термин «стигма» (с лат. «ярлык, клеймо позора»).
                            </h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    {#    h3 on image#}
    <section id="fh5co-home" data-section="home" style="background-image: url({% static 'disorder/images/white.jpg' %});" data-stellar-background-ratio="0.5">
        <div class="gradient"></div>
        <div class="container">
            <div class="text-wrap">
                <div class="text-inner">
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2 text-center">
                            <h3 class="to-animate">
                                В дохристианством мире нравственные устои не выходили за пределы «законов природы» и требований «души человека». Отношение к морали менялось, изменяя вместе с этим принципы жизни предков. Христианство изменило мнение на противоположное: человек оказался перед лицом Божьим. Сыпь на коже или другие телесные недостатки стали означать божественную милость. У конфессий, которые отпали от Православия (у римо-католиков и протестантов), ситуация изменилась достаточно недавно. Чуть позже, понятие «стигма» стало шире – медицина и религиозные верования слились воедино.
                            </h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    {#    h3 on image#}
    <section id="fh5co-home" data-section="home" style="background-image: url({% static 'disorder/images/pink.jpg' %});" data-stellar-background-ratio="0.5">
        <div class="gradient"></div>
        <div class="container">
            <div class="text-wrap">
                <div class="text-inner">
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2 text-center">
                            <h3 class="to-animate">
                                Чуть позже, понятие «стигма» стало шире – медицина и религиозные верования слились воедино.
                                Сами стигматы – это болезненные раны или язвы, подобно Иисусу полученные в результате распятия. В средние века стигматиками, в основном, становились женщины. Эта проблема нашла своё отражение в феминизме, сегодня женское движение набирает популярность. У каждого социальное проявления есть своя история в прошлом, подобно человеку, у которого есть ситуация, повлиявшая на его настоящее.
                            </h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    {#    h3 on image#}
    <section id="fh5co-home" data-section="home" style="background-image: url({% static 'disorder/images/white.jpg' %});" data-stellar-background-ratio="0.5">
        <div class="gradient"></div>
        <div class="container">
            <div class="text-wrap">
                <div class="text-inner">
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2 text-center">
                            <h3 class="to-animate">
                                «Любому человеку не все равно, с какими ожиданиями к нему «подходят» окружающие. Те или иные ожидания оказывают самое непосредственное влияние на наши достижения и результаты, которых мы добиваемся.
                                Принимать больного за больного – грубая ошибка»

                                Я знаю, что ты не такой, как все

                                Прошло много лет с того времени: сменилось много поколений и сформировались другие ценности. Однако социальная стигматизация никуда не исчезла, о ней говорят и ей подвергаются. Но она стала проявлять себя другим образом. Сегодня на теле преступников и людей с физическими или умственными особенностями никто не выжигает характерный знак, «клеймо позора». В роле клейма сегодня выступают стереотипные суждения и ярлыки – это, как показывает практика, не менее опасное оружие против личности.

                                Когда речь заходит о стигматизации человека, необходимо учитывать, что насильно навешенный ярлык серьёзно влияет на его жизнь и отношение к самому себе. Синдром «навешивания» имеет неприятные последствия. Появляется возможность переложить ответственность на другого человека, списывая причины проблемы на его сформированный «стигма-образ».
                            </h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>



    {#    h3 on image#}
    <section id="fh5co-home" data-section="home" style="background-image: url({% static 'disorder/images/canyo.jpg' %});" data-stellar-background-ratio="0.5">
        <div class="gradient"></div>
        <div class="container">
            <div class="text-wrap">
                <div class="text-inner">
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2 text-center">
                            <h3 class="to-animate">
                                Мнительный человек, склонный ориентироваться на внешние факторы, будет стремиться к тому, чтобы стигматизировать и наказать себя самостоятельно, не позволив сделать это другим людям.
                            </h3>
                            <h3 class="to-animate">
                                <i>(При поддержке клинического психолога Антонины Кривокорытовой и психолога Анны Толстой).</i>
                            </h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    {#    h3 on white#}
    <section id="fh5co-home" data-section="home" style="background-image: url({% static 'disorder/images/white.jpg' %});" data-stellar-background-ratio="0.5">
        <div class="gradient"></div>
        <div class="container">
            <div class="text-wrap">
                <div class="text-inner">
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2 text-center">
                            <h1 class="to-animate">
                                Влияние стигмы: общественная и личностная
                            </h1>
                            <h3 class="to-animate">
                                Любая стигматизация будет сказываться на состоянии человека: есть у него ментальные нарушения или их нет. Человека насильственным образом «превращают» в другого индивида – этот акт со стороны общества способен искажать самоидентификацию личности или подрывать психическое состояние субъекта. Это порождает внутренний конфликт между «я – настоящим» и «я – выдуманным». Если человек не способен объективно оценивать своё состояние или поведение, то стигматизация будет существенно влиять на его поступки и внутреннее состояние.
                            </h3>

                            <audio controls>
                                <source src="{% static 'disorder/audio/vvodnaya_chast.mp3' %}">
                            </audio>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    {#    h3 on white#}
    <section id="fh5co-home" data-section="home" style="background-image: url({% static 'disorder/images/white.jpg' %});" data-stellar-background-ratio="0.5">
        <div class="gradient"></div>
        <div class="container">
            <div class="text-wrap">
                <div class="text-inner">
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2 text-center">
                            <h3 class="to-animate">
                                Личностная стигматизация (самостигматизация)
                            </h3>
                            <h4 class="to-animate">
                                Бороться с таким проявлением личности лучше всего посредством самоанализа.
                                Если состояние человека не позволяет самостоятельно справляться с этим явлением, то лучше всего обратиться за помощью к психологу.
                            </h4>
                            <h3 class="to-animate">
                                Общественная стигматизация
                            </h3>
                            <h4 class="to-animate">
                                У общественной стигмы есть свои роли и задачи, которые она определяет и осуществляет в обществе. Всё зависит от общества: какое-то общество в большей степени склонно к стигматизации, какое-то в меньшей – важно не нанести вред личности.
                                Чтобы общественная стигматизация имела здоровый характер, необходимо повышать психологическую грамотность.
                            </h4>
                            <h3 class="to-animate">
                                Стигматизирование других людей
                            </h3>
                            <h4 class="to-animate">
                                Если человек склонен к стигматизации: в общении с людьми исходит из каких-либо стереотипных суждений - в таком случае ему поможет работа над собой.
                                Необходимо отслеживать свои реакции на посторонних людей, притормаживать возникшие стереотипы и стараться общаться с человеком.
                                Человек должен сам рассказать о себе, а вы, в свою очередь, должны стать хорошим слушателем.
                            </h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    {#    h3 on image#}
    <section id="fh5co-home" data-section="home" style="background-image: url({% static 'disorder/images/pink.jpg' %});" data-stellar-background-ratio="0.5">
        <div class="gradient"></div>
        <div class="container">
            <div class="text-wrap">
                <div class="text-inner">
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2 text-center">
                            <h3 class="to-animate">
                                <b>ВАЖНО УЗНАТЬ О ЧЕЛОВЕКЕ, КАК О ЛИЧНОСТИ, А НЕ КАК О КОМ-ТО, КТО ВЫДЕЛЯЕТСЯ НА ФОНЕ ВСЕХ ОСТАЛЬНЫХ ЛЮДЕЙ.</b>
                            </h3>
                            <h3 class="to-animate">
                                «Если будет вестись просветительская работа, и человек при этом будет работать над собой, чтобы не подвергать стигматизации другого человека, то квинтэссенция стигм окажет благоприятный эффект на взаимоотношения людей».
                            </h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <div>
        <a href="/#corridorofchoice"><div id='goback'><h1 id="backtolink">Вернуться в корридор</h1></div></a>
        <video autoplay="autoplay" loop="loop" muted width="100%">
            <source src="{% static 'disorder/videos/gobackcorridor.mp4' %}" type="video/mp4" />
        </video>
    </div>
{% endblock %}