#door1 {
    height:100%;
    width:10%;
    left: 5%;
    display:inline-block;
    position: absolute;
    z-index: 2;
    /*background-color: red;*/
    /*opacity: 30%;*/
}

#door2 {
    height:100%;
    width:6%;
    left: 18%;
    display:inline-block;
    position: absolute;
    z-index: 2;
    /*background-color: orange;*/
    /*opacity: 30%;*/
}

#door3 {
    height:100%;
    width:3%;
    left: 27%;
    display:inline-block;
    position: absolute;
    z-index: 2;
    /*background-color: yellow;*/
    /*opacity: 30%;*/
}

#door4 {
    height:100%;
    width:5%;
    left: 32%;
    display:inline-block;
    position: absolute;
    z-index: 2;
    /*background-color: green;*/
    /*opacity: 30%;*/
}

#doortherapy {
    height:100%;
    width:7%;
    left: 68%;
    display:inline-block;
    position: absolute;
    z-index: 2;
    /*background-color: blue;*/
    /*opacity: 30%;*/
}

#doordoctor {
    height:100%;
    width:10%;
    left: 81%;
    display:inline-block;
    position: absolute;
    z-index: 2;
    /*background-color: purple;*/
    /*opacity: 30%;*/
}

#goback {
    height:100%;
    width:100%;
    display:inline-block;
    position: absolute;
    z-index: 2;
    /*background-color: red;*/
    /*opacity: 30%;*/
}

#backtolink{
    z-index: 2;
    text-align: center;
    top:30%
}
